<section data-ng-controller="MapController">


    <!--sidebar menu is displayed when showDetails === true  ....  and disappears on false-->
    <div class="col-md-5 side-menu move-me core" data-ng-show="showDetails">
        <span>
            <i class="menu-close-icon glyphicon glyphicon-align-justify" style="z-index: 100;" data-ng-click="showDetails=!showDetails"></i>
        </span>

        <hr class="hr-set-two"/>

        <ul>
            <li>
                <a data-ng-click="showHomeView(); showDetails=!showDetails">
                    <i class="glyphicon glyphicon-home"></i>
                    Home
                </a>
            </li>
            <li>
                <a href="/#!/projects">
                    <i class="glyphicon glyphicon-th"></i>
                    Projects
                </a>
            </li>
            <li>
                <a href="/#!/projects/create">
                    <i class="glyphicon glyphicon-time"></i>
                    Submit
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-user"></i>
                    About Us
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-map-marker"></i>
                    Contact
                </a>
            </li>
            <div class="social-media-button">
                <li>
                    <a href="https://twitter.com/mappingslc">
                        <i class="fa fa-twitter-square"></i>
                        Twitter
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/MappingSaltLakeCity">
                        <i class="fa fa-facebook-square"></i>
                        Facebook
                    </a>
                </li>
            </div>
        </ul>
        <br/>
        <hr/>
        <p>Mapping Salt Lake City is a community-created archive of Salt Lake City’s
            neighborhoods and people that documents the city’s changes through art, critical and creative
            literature, personal maps and multi-media projects.</p>

        <p>We invite people to engage with and evolve this site by submitting their own contributions.</p>

    </div>


    <div class="container">
        <div class="small-main-logo2 img-responsive" ng-hide="toggleSideBar"
             data-ng-click="showHomeView(); showDetails=!showDetails;"></div>
    </div>

    <strong>
            <span>
            <i class="menu-open-icon glyphicon glyphicon-align-justify" ng-show="toggleSideBar"
               data-ng-click="closeHomeView(); showDetails=!showDetails;">
            </i>
            </span>
    </strong>


</section>