<!--<div id="sidebar" class="sidebar collapsed">-->
    <!--&lt;!&ndash; Nav tabs &ndash;&gt;-->
    <!--<ul class="sidebar-tabs" role="tablist">-->
        <!--<li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>-->
        <!--<li><a href="#profile" role="tab"><i class="fa fa-user"></i></a></li>-->
        <!--<li><a href="#messages" role="tab"><i class="fa fa-envelope"></i></a></li>-->
        <!--<li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>-->
    <!--</ul>-->

    <!--&lt;!&ndash; Tab panes &ndash;&gt;-->
    <!--<div class="sidebar-content active">-->
        <!--<div class="sidebar-pane" id="home">-->
            <!--&lt;!&ndash;<mainMenuDirective></mainMenuDirective>&ndash;&gt;-->

        <!--</div>-->

        <!--<div class="sidebar-pane" id="profile"><h1>Profile</h1>-->

             <!--&lt;!&ndash;<div class="sidebar-view-date ">&ndash;&gt;-->
            <!--&lt;!&ndash;<small>June 22, 2014</small>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<h3>Test Title: Read a great article that is bound to tickle your fancy!</h3>&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="http://lorempixel.com/g/400/200/">&ndash;&gt;-->

            <!--&lt;!&ndash;<div class="sidebar-view-text-content">&ndash;&gt;-->
            <!--&lt;!&ndash;<p>&ndash;&gt;-->
            <!--&lt;!&ndash;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum error et hic minus vero? Cupiditate&ndash;&gt;-->
            <!--&lt;!&ndash;error, in nostrum perferendis reiciendis repellat sapiente voluptas voluptate. Dignissimos natus&ndash;&gt;-->
            <!--&lt;!&ndash;numquam obcaecati porro sequi!&ndash;&gt;-->
            <!--&lt;!&ndash;</p>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<p>&ndash;&gt;-->
            <!--&lt;!&ndash;<button type="button" class="btn btn-primary btn-lg">Read More</button>&ndash;&gt;-->
            <!--&lt;!&ndash;<button type="button" class="btn btn-default btn-lg">Share</button>&ndash;&gt;-->
            <!--&lt;!&ndash;</p>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<div class="sidebar-pane" id="messages"><h1>Messages</h1></div>-->
            <!--<div class="sidebar-pane" id="settings"><h1>Settings</h1></div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->