<!--<div>-->
	<!--&lt;!&ndash;<div class="container" data-ng-controller="HeaderController">&ndash;&gt;-->

	<!--<div class="container">-->
		<!--<ul id="gn-menu" class="gn-menu-main">-->
			<!--<li class="gn-trigger">-->
				<!--<a class="gn-icon gn-icon-menu"><span>Menu</span></a>-->
				<!--<nav class="gn-menu-wrapper">-->
					<!--<div class="gn-scroller">-->
						<!--<ul class="gn-menu">-->
							<!--<li class="gn-search-item">-->
								<!--<input placeholder="Search" type="search" class="gn-search">-->
								<!--<a class="gn-icon gn-icon-search"><span>Search</span></a>-->
							<!--</li>-->
							<!--<li>-->
								<!--<a class="gn-icon gn-icon-download">Downloads</a>-->
								<!--<ul class="gn-submenu">-->
									<!--<li><a class="gn-icon gn-icon-illustrator">Vector Illustrations</a></li>-->
									<!--<li><a class="gn-icon gn-icon-photoshop">Photoshop files</a></li>-->
								<!--</ul>-->
							<!--</li>-->
							<!--<li><a class="gn-icon gn-icon-cog">Settings</a></li>-->
							<!--<li><a class="gn-icon gn-icon-help">Help</a></li>-->
							<!--<li>-->
								<!--<a class="gn-icon gn-icon-archive">Archives</a>-->
								<!--<ul class="gn-submenu">-->
									<!--<li><a class="gn-icon gn-icon-article">Articles</a></li>-->
									<!--<li><a class="gn-icon gn-icon-pictures">Images</a></li>-->
									<!--<li><a class="gn-icon gn-icon-videos">Videos</a></li>-->
								<!--</ul>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</div>&lt;!&ndash; /gn-scroller &ndash;&gt;-->
				<!--</nav>-->
			<!--</li>-->
			<!--<li><a href="http://tympanus.net/codrops">Codrops</a></li>-->
			<!--<li><a class="codrops-icon codrops-icon-prev" href="http://tympanus.net/Development/HeaderEffects/"><span>Previous Demo</span></a></li>-->
			<!--<li><a class="codrops-icon codrops-icon-drop" href="http://tympanus.net/codrops/?p=16030"><span>Back to the Codrops Article</span></a></li>-->
		<!--</ul>-->
		<!--<header>-->
			<!--<h1>Google Nexus Website Menu <span>A sidebar menu as seen on the <a href="http://www.google.com/nexus/index.html">Google Nexus 7</a> page</span></h1>-->
		<!--</header>-->
	<!--</div>&lt;!&ndash; /container &ndash;&gt;-->

<!--</div>-->

<!--<script>-->

	<!--_initEvents : function() {-->
		<!--var self = this;-->

		<!--if( !mobilecheck() ) {-->
			<!--this.trigger.addEventListener( 'mouseover', function(ev) { self._openIconMenu(); } );-->
			<!--this.trigger.addEventListener( 'mouseout', function(ev) { self._closeIconMenu(); } );-->

			<!--this.menu.addEventListener( 'mouseover', function(ev) {-->
				<!--self._openMenu();-->
				<!--document.addEventListener( self.eventtype, self.bodyClickFn );-->
			<!--} );-->
		<!--}-->
		<!--this.trigger.addEventListener( this.eventtype, function( ev ) {-->
			<!--ev.stopPropagation();-->
			<!--ev.preventDefault();-->
			<!--if( self.isMenuOpen ) {-->
				<!--self._closeMenu();-->
				<!--document.removeEventListener( self.eventtype, self.bodyClickFn );-->
			<!--}-->
			<!--else {-->
				<!--self._openMenu();-->
				<!--document.addEventListener( self.eventtype, self.bodyClickFn );-->
			<!--}-->
		<!--} );-->
		<!--this.menu.addEventListener( this.eventtype, function(ev) { ev.stopPropagation(); } );-->
	<!--},-->
	<!--_openIconMenu : function() {-->
		<!--classie.add( this.menu, 'gn-open-part' );-->
	<!--},-->
	<!--_closeIconMenu : function() {-->
		<!--classie.remove( this.menu, 'gn-open-part' );-->
	<!--},-->
	<!--_openMenu : function() {-->
		<!--if( this.isMenuOpen ) return;-->
		<!--classie.add( this.trigger, 'gn-selected' );-->
		<!--this.isMenuOpen = true;-->
		<!--classie.add( this.menu, 'gn-open-all' );-->
		<!--this._closeIconMenu();-->
	<!--},-->
	<!--_closeMenu : function() {-->
		<!--if( !this.isMenuOpen ) return;-->
		<!--classie.remove( this.trigger, 'gn-selected' );-->
		<!--this.isMenuOpen = false;-->
		<!--classie.remove( this.menu, 'gn-open-all' );-->
		<!--this._closeIconMenu();-->
	<!--}-->

<!--</script>-->