<section data-ng-controller="HomeController">

    <!-- page content -->
    <div class="container">
        <div class="page-header">
            <h1>Example page header
                <small>Subtext for header</small>
            </h1>
        </div>
    </div>

    <!--these are the columns divs-->
    <div class="row-fluid">
        <div class="col-md-5 pull-left">
            <div class="text-center page-header">
                <h2>Submit your project</h2>
            </div>
            <p>
                Mapping Salt Lake City invites all interested visitors to add their voices to the mix. We are looking for all kinds of essays (written, audio, photo, video) on topics related to Salt Lake City
            </p>
            <a href="/#!/stories/create" class="btn btn-primary btn-lg" role="button">Submit a story</a>
        </div >
        <div class="col-md-5 pull-right">
            Some content for the second column
        </div>
    </div>


    <!--this is the where the footer will be-->

</section>




