<section ng-include="'/modules/map/views/map-story.client.view.html'" id="gmap"  frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="425" height="350"></section>
<div id="container">
        <section data-ng-controller="HomeController">
        <!-- page content -->
       <div class="home">
            <div class="container">
                <div class="col-md-9">
                    <div class="page-header">
                        <h1>Mapping SLC </h1>
                        <p>Mapping Salt Lake City is a community-created archive of Salt Lake City’s neighborhoods and people that
                            documents the city’s changes through art, critical and creative literature, personal maps and multi-media projects.
                         </p>
                    </div>
                </div>
            </div>

            <!--these are the columns divs-->
            <div class="row-fluid">
                <div class="col-md-5 pull-left">
                    <div class="text-center page-header">
                        <h2>Submit your project</h2>
                    </div>
                    <p>
                        Mapping Salt Lake City invites all interested visitors to add their voices to the mix. We are looking for all kinds of essays (written, audio, photo, video) on topics related to Salt Lake City
                    </p>
                    <a href="/#!/stories/create" class="btn btn-primary btn-lg" role="button">Submit a story</a>
                </div >
                <div class="col-md-5 pull-right">
                    <div class="text-center page-header">
                        <h2>Featured Projects</h2>
                    </div>
                </div>
            </div>
       </div>
</div>



