<secondary-menu-directive></secondary-menu-directive>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }"
         data-ng-class="{'page-view-menu-open': toggleSecondMenu}">
  <section class="container">
    <a href="/" class="small-main-logo logo-on-page logo-second-page img-responsive"></a>

    <div class="main-content-outer">
      <section data-ng-controller="ContributorController" data-ng-init="init()" class="contributors">
        <div class="contrib">
          <div class="row">
            <div class="col-md-12">
              <div class="main-content-inner">

                <div class="row">
                  <div><h1 class="col-md-6">Contributors</h1></div>

                  <div class="col-md-6 search-input-div">
                    <span class="input input-secondary pull-right">
                        <input class="input_field input_field-secondary" type="text" id="search"
                               data-ng-model="searchContributors"/>
                        <label class="input_label input_label-secondary" for="search">
                          <span class="input_label-content input_label-content-secondary">Search Contributors</span>
                        </label>
                    </span>
                  </div>
                </div>

                <div class="row">

                  <ul id="grid-view">
                    <a ng-click="openLightboxModal($index)" data-ng-repeat="contributor in contributors | filter:searchContributors" class="col-md-3">
                      <li>
                        <div>
                            <img ng-src="{{contributor.profileImageURL}}" class="img-thumbnail">
                            <p>{{contributor.firstName}} {{contributor.lastName}}</p>
                        </div>
                      </li>
                    </a>
                  </ul>


                </div>
              </div>

            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</section>
