<secondary-menu-directive></secondary-menu-directive>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }"
         data-ng-class="{'page-view-menu-open': toggleSecondMenu}">
  <section class="container">
    <a href="/" class="small-main-logo logo-on-page logo-second-page img-responsive"></a>

    <div class="main-content-outer">
      <section data-ng-controller="ContributorController" data-ng-init="init()" class="contributors">
        <div class="contrib">
          <div class="row">
            <div class="col-md-12">
              <div class="main-content-inner">

                <h1>Contributors</h1>

                <div class="row">

                  <label>Search <input ng-model="searchText"></label>

                    <ul id="gallery">
                      <li data-ng-repeat="contributor in contributors | filter:searchText" class="col-md-4">
                        <!--<a ng-click="openLightboxModal(images, $index)">-->
                        <a ng-click="openLightboxModal($index)">
                          <img ng-src="{{contributor.profileImageURL}}" class="img-circle">
                          <h3>{{contributor.firstName}} {{contributor.lastName}}</h3>
                        </a>
                      </li>


                    </ul>


                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</section>
