<secondary-menu-directive></secondary-menu-directive>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }" data-ng-class="{'page-view-menu-open': toggleSecondMenu}">
    <section class="container">
        <a href="/" class="small-main-logo logo-on-page logo-second-page img-responsive"></a>

        <div class="main-content-outer">
            <section data-ng-controller="ContributorController" data-ng-init="init()">
                <div class="contrib">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-content-inner">

                                <h1>Contributors</h1>

                                <div class="row">
                                    <div class="col-md-12">


                                        <!--<li ng-repeat="image in images">-->
                                            <!--<a ng-click="Lightbox.openModal(images, $index)">-->
                                                <!--<img ng-src="{{image}}" class="img-circle" alt="" style="width: 6em;">-->
                                            <!--</a>-->
                                        <!--</li>-->


                                        <ul id="gallery">
                                            <li data-ng-repeat="contributor in contributors">
                                                <a data-ng-click="Lightbox.openModal(images, $index)">
                                                    <img ng-src="{{image}}" class="img-circle" alt="" style="width: 6em;">
                                                    <h3>{{contributor.fullName}}</h3>
                                                    <!--<img src="../../../../app/uploads/users/user2.jpg"/>-->
                                                    <!--<img src="../../../modules/core/img/tempPeople/dani-zimmerman.jpg" alt="img01"/>-->

                                                    <!--<figure>-->
                                                        <!--<figcaption>-->
                                                            <!--<h3>{{contributor.fullName}}</h3>-->

                                                            <!--<p>{{contributor.bio}}</p>-->
                                                        <!--</figcaption>-->
                                                    <!--</figure>-->
                                                </a>
                                            </li>
                                        </ul>


                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</section>
