<section data-ng-controller="ContributorController">
  <div class="modal-body" id="lightbox-modal"
       ng-swipe-left="Lightbox.nextImage()"
       ng-swipe-right="Lightbox.prevImage()">

    <div class=lightbox-nav>
      <button class=close aria-hidden=true ng-click=$dismiss()>×</button>
      <div class=btn-group>
        <a class="btn btn-xs btn-default" ng-click=Lightbox.prevImage()><i class="fa fa-chevron-left"></i></a>
        <a ng-href={{Lightbox.imageUrl}} target=_blank class="btn btn-xs btn-default" title="Open in new tab">Open image
          in new tab</a>
        <a class="btn btn-xs btn-default" ng-click=Lightbox.nextImage()><i class="fa fa-chevron-right"></i></a>
      </div>
    </div>

    <!-- image -->
    <div class="lightbox-image-container">
      <div class="row">
        <div class="col-md-12">


          <div class=lightbox-image-caption>
            <div><img lightbox-src="{{Lightbox.imageUrl}}"></div>

            <div>{{Lightbox.imageCaption}}</div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
