<secondary-menu-directive></secondary-menu-directive>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }" data-ng-class="{'page-view-menu-open': toggleSecondMenu}">

    <section class="container">
        <a href="/#!/" class="small-main-logo logo-on-page logo-second-page img-responsive"></a>

        <div class="main-content-outer">
            <section data-ng-controller="AuthenticationServiceController" class="main-content-inner">
                <div class="auth-form">

                    <h1 class="page-header col-md-12 text-center">Sign Up</h1>

                    <div class="row">

                        <div class="col-md-12">

                            <h3>Sign up using your social accounts</h3>

                            <div class="row">
                                <div class="col-md-12">
                                    <a href="/auth/facebook" class="undecorated-link">
                                        <i class="fa fa-facebook"></i>
                                        <!--<img src="/modules/users/img/buttons/facebook.png">-->
                                    </a>
                                    <a href="/auth/twitter" class="undecorated-link">
                                        <!--<img src="/modules/users/img/buttons/twitter.png">-->
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="/auth/google" class="undecorated-link">
                                        <!--<img src="/modules/users/img/buttons/google.png">-->
                                        <i class="fa fa-google"></i>
                                    </a>
                                    <a href="/auth/linkedin" class="undecorated-link">
                                        <!--<img src="/modules/users/img/buttons/linkedin.png">-->
                                        <i class="fa fa-linkedin"></i>
                                    </a>

                                </div>
                            </div>

                            <h3 class="col-md-12">Or with your email</h3>

                            <div class="row">
                                <div class="col-md-12">
                                    <!--<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">-->
                                    <form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
                                        <fieldset>
                                            <div class="form-group"></div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                <span class="input input-secondary" data-ng-class="{'input-filled': credentials.firstName !== ''}">
                                                    <input class="input_field input_field-secondary" type="text" id="firstName"
                                                           data-ng-model="credentials.firstName"/>
                                                    <label class="input_label input_label-secondary" for="firstName">
                                                        <span class="input_label-content input_label-content-secondary">First Name</span>
                                                    </label>
                                                </span>
                                                </div>

                                                <div class="col-md-6">
                                            <span class="input input-secondary" data-ng-class="{'input-filled': credentials.lastName !== ''}">
                                                <input class="input_field input_field-secondary" type="text" id="lastName" data-ng-model="credentials.lastName"/>
                                                <label class="input_label input_label-secondary" for="lastName">
                                                    <span class="input_label-content input_label-content-secondary">Last Name</span>
                                                </label>
                                            </span>
                                                </div>
                                            </div>

                                            <div class="row"> <!-- Row #2 -->
                                                <div class="col-md-6">
                                            <span class="input input-secondary" data-ng-class="{'input-filled': credentials.email !== ''}">
                                                <input class="input_field input_field-secondary" type="text" id="email" data-ng-model="credentials.email"/>
                                                <label class="input_label input_label-secondary" for="email">
                                                    <span class="input_label-content input_label-content-secondary">E-mail</span>
                                                </label>
                                            </span>
                                                </div>
                                                <div class="col-md-6">
                                                <span class="input input-secondary" data-ng-class="{'input-filled': credentials.userZip !== ''}">
                                                    <input class="input_field input_field-secondary" type="userZip" id="userZip"
                                                           data-ng-model="credentials.userZip"/>
                                                    <label class="input_label input_label-secondary" for="userZip">
                                                        <span class="input_label-content input_label-content-secondary">Zip Code</span>
                                                    </label>
                                                </span>
                                                </div>
                                            </div>

                                            <div class="row"> <!-- Row #2 -->
                                                <div class="col-md-6">
                                                <span class="input input-secondary" data-ng-class="{'input-filled': credentials.username !== ''}">
                                                    <input class="input_field input_field-secondary" type="text" id="username" data-ng-model="credentials.username"/>
                                                    <label class="input_label input_label-secondary" for="username">
                                                        <span class="input_label-content input_label-content-secondary">Username</span>
                                                    </label>
                                                </span>
                                                </div>
                                                <div class="col-md-6">
                                                <span class="input input-secondary" data-ng-class="{'input-filled': credentials.password !== ''}">
                                                    <input class="input_field input_field-secondary" type="password" id="password"
                                                           data-ng-model="credentials.password"/>
                                                    <label class="input_label input_label-secondary" for="password">
                                                        <span class="input_label-content input_label-content-secondary">Password</span>
                                                    </label>
                                                </span>
                                                </div>
                                            </div>

                                            <div class="row">  <!-- Row #5 -->
                                                <div class="col-md-12">
                                                    <div id="check-awesome" class="form-group filter first-filter">
                                                        <input type="checkbox" name="filters" id="newsletter" value="newsletter"
                                                               data-ng-model="credentials.newsletter">
                                                        <label for="newsletter">
                                                            <span class="check"></span>
                                                            <span class="box"></span>
                                                            Subscribe to our quarterly e-newsletter
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="text-center form-group">
                                                <button type="submit" class="btn btn-main btn-lg grow btn-contact">Sign up</button>
                                                &nbsp; or&nbsp;
                                                <a href="/#!/signin" class="show-signup">Sign in</a>
                                            </div>
                                            <div data-ng-show="error" class="text-center text-danger">
                                                <strong data-ng-bind="error"></strong>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</section>