<secondary-menu-directive></secondary-menu-directive>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }" data-ng-class="{'page-view-menu-open': toggleSecondMenu}">

    <section class="container">
        <a href="/#!/" class="small-main-logo logo-on-page logo-second-page img-responsive"></a>

        <div class="main-content-outer">
            <section data-ng-controller="AuthenticationServiceController" class="main-content-inner">
                <div class="auth-form">

                    <div class="row" data-ng-show="signInBeforeProject && !closeWarning">
                        <div class="col-md-12">
                            <div class="sign-in-warning">
                                <div class="pull-right" data-ng-click="closeWarning = !closeWarning">X</div>
                                <div>
                                    <p>You need to sign in before you create a project.</p>
                                    <p>If you have not registered yet, it's quick. <a href="/#!/signup">Register here</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h1 class="page-header text-center col-md-12">Sign In</h1>

                    <div class="row">

                        <div class="col-md-12">

                            <h3>... with your social accounts</h3>

                            <div class="row">
                                <div class="col-md-12">
                                    <a href="/auth/facebook" class="undecorated-link">
                                        <i class="fa fa-facebook"></i>
                                        <!--<img src="/modules/users/img/buttons/facebook.png">-->
                                    </a>
                                    <a href="/auth/twitter" class="undecorated-link">
                                        <!--<img src="/modules/users/img/buttons/twitter.png">-->
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="/auth/google" class="undecorated-link">
                                        <!--<img src="/modules/users/img/buttons/google.png">-->
                                        <i class="fa fa-google"></i>
                                    </a>
                                    <a href="/auth/linkedin" class="undecorated-link">
                                        <!--<img src="/modules/users/img/buttons/linkedin.png">-->
                                        <i class="fa fa-linkedin"></i>
                                    </a>

                                </div>
                            </div>

                            <span>
                                <div class="signup-email" data-ng-click="toggleSignup = !toggleSignup" data-ng-class="{'carot-down': toggleSignup}">
                                    ... or click here to sign in with your email address <i class="fa fa-chevron-right" data-ng-show="!toggleSignup"></i><i
                                        class="fa fa-chevron-down" data-ng-show="toggleSignup"></i>
                                </div>
                            </span>

                            <div class="row" data-ng-show="toggleSignup">
                                <div class="col-md-12 col-md-offset-3">
                                    <form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
                                        <fieldset>

                                            <div class="row"> <!-- Row #2 -->
                                                <div class="col-md-12">
                                                    <span class="input input-secondary" data-ng-class="{'input-filled': credentials.email }">
                                                    <!--<span class="input input-secondary">-->
                                                        <input class="input_field input_field-secondary" type="text" id="email" data-ng-model="credentials.email" />
                                                        <label class="input_label input_label-secondary" for="email">
                                                            <span class="input_label-content input_label-content-secondary">E-mail</span>
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="row"> <!-- Row #2 -->
                                                <div class="col-md-12">
                                                        <span class="input input-secondary" data-ng-class="{'input-filled': credentials.username }">
                                                        <input class="input_field input_field-secondary" type="text" id="username" value=""
                                                               data-ng-model="credentials.username"/>
                                                        <label class="input_label input_label-secondary" for="username">
                                                            <span class="input_label-content input_label-content-secondary">Username</span>
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="row">  <!-- Row #4 -->
                                                <div class="col-md-12">
                                                    <span class="input input-secondary" data-ng-class="{'input-filled': credentials.password }">
                                                        <input class="input_field input_field-secondary" type="password" id="password"
                                                               data-ng-model="credentials.password"/>
                                                        <label class="input_label input_label-secondary" for="password">
                                                            <span class="input_label-content input_label-content-secondary">Password</span>
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <div class="form-group">
                                                        <div>
                                                            <button type="submit" class="btn btn-main grow">Sign in</button>
                                                            &nbsp; or&nbsp;
                                                            <a href="/#!/signup">Sign up</a>
                                                        </div>
                                                        <div class="forgot-password">
                                                            <a href="/#!/password/forgot">Forgot your password?</a>
                                                        </div>
                                                        <div data-ng-show="error" class="text-center text-danger">
                                                            <strong data-ng-bind="error"></strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</section>
