/***
**
**  FOOTER OVERLAY ANIMATION BEGIN
**
***/

@-webkit-keyframes animate-footer-overlay {
    0% {
        transform: scale(1, 1);
    }
    49% {
        transform: scale(0.98, 0.05) translate(0, -2000%);
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        transform: scale(0.75, 0.03) translate(0, -4000%);
    }

    97% {
        transform: scale(0.5, 0.02) translate(0, -6000%);

    }
    98% {
        transform: scale(0.45, 0.01);
    }
    100% {
        opacity: 0;
        transform: scale(0.45, 0);
    }
}

.footer-overlay {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    border: 3px solid #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    margin: 35px auto;
    overflow: visible !important; /* Has to be !important only if you're using an on/off switch */
    position: relative;
    width: 100%;
    height: 8rem;
    z-index: 2;
    transition: all 1s ease-out;
}

.footer-overlay-active {
    /*creates animation (vs. transformation)*/
    -webkit-animation: animate-footer-overlay 1s ease-out forwards;
    -moz-animation: animate-footer-overlay 1s ease forwards;
    -o-animation: animate-footer-overlay 1s ease forwards;
    animation: animate-footer-overlay 1s ease forwards;
}


/***
**
**  MAIN OVERLAY ANIMATION BEGIN
**
***/

@-webkit-keyframes animate-main-overlay {
    0% {
        transform: scale(1, 1);
    }
    99% {
        transform: scale(0.035, 0.055) translate(-1420%, -900%);
    }
    100% {
        transform: scale(0, 0);
    }
}

.main-overlay {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    border: 3px solid #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    margin: 35px auto;
    overflow: visible !important; /* Has to be !important only if you're using an on/off switch */
    padding: 0 20px 20px 20px;
    position: relative;
    width: 100%;
    height: 60rem;
    z-index: 2;
    transition: all 1s ease-out;
}

.main-overlay-active {
    /*creates animation (vs. transformation)*/
    -webkit-animation: animate-main-overlay 2s ease forwards;
    -webkit-animation-delay: 0.5s;
    -moz-animation: animate-main-overlay 2s ease forwards;
    -o-animation: animate-main-overlay 2s ease forwards;
    animation: animate-main-overlay 2s ease forwards;
    animation-delay: 0.5s;
}


/***
**
**  ANIMATION THAT TRANSITIONS FROM MAIN AND FOOTER OVERLAYS INTO SMALL LOGO BEGIN
**
***/

@-webkit-keyframes animate-logo {
    0% {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-image: url(../../core/img/circle_button.png);
    }
    /*give the cirle an image without the "X" so that the "X" won't be seen morphing*/
    1% {
        background-image: url(../../core/img/circle_button_blank.png);
    }
    100% {
        transform: translate(-200%, -28%);
        border-radius: 2%;
        width: 150px;
        height: 47px;
        background-image: url(../../core/img/brand/mapping_150w.png);
    }
}

@-moz-keyframes animate-logo {
}

@-ms-keyframes animate-logo {
}

@-o-keyframes animate-logo {
}

@keyframes animate-logo {
}

.animate-small-logo {
    background: #023a31;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 22pt;
    position: absolute;
    text-align: center;
    top: 1.5%;
    left: 19%;
    height: 50px;
    width: 50px;
    background-image: url(../../core/img/circle_button.png);
}

.animate-small-logo-active {
    /*creates animation (vs. transformation)*/
    -webkit-animation: animate-logo 2s ease-out forwards;
    -webkit-animation-delay: 2.6s;
    -moz-animation: animate-logo 3s ease-out forwards;
    -o-animation: animate-logo 3s ease forwards;
    animation: animate-logo 3s ease-out forwards;
    animation-delay: 2.6s;
}

/*10% {*/
/*transform: rotateZ(10deg);*/
/*}*/
/*20% {*/
/*transform: rotateZ(-10deg);*/
/*}*/

/*70% {*/
/*transform:*/
/*scale(1, 0.55)*/
/*translate(0, 0);*/
/*}*/
/*81%{*/
/*-moz-transform: scaleY(-1);*/
/*-o-transform: scaleY(-1);*/
/*-webkit-transform: scaleY(-1);*/
/*transform: scaleY(-1);*/
/*filter: FlipV;*/
/*-ms-filter: "FlipV";*/
/*}*/

/*83%{*/
/*-moz-transform: scaleY(-1);*/
/*-o-transform: scaleY(-1);*/
/*-webkit-transform: scaleY(-1);*/
/*transform:*/
/*scaleY(-1)*/
/*translate(0, 75%);*/
/*filter: FlipV;*/
/*-ms-filter: "FlipV";*/
/*}*/

/*85%{*/
/*-moz-transform: scaleY(-1);*/
/*-o-transform: scaleY(-1);*/
/*-webkit-transform: scaleY(-1);*/
/*transform:*/
/*scaleY(-1)*/
/*translate(-15%, 115%);*/
/*filter: FlipV;*/
/*-ms-filter: "FlipV";*/
/*}*/
/*87%{*/
/*-moz-transform: scaleY(-1);*/
/*-o-transform: scaleY(-1);*/
/*-webkit-transform: scale(1, -1);*/
/*transform:*/
/*scale(1, -1)*/
/*translate(15%, 155%);*/
/*filter: FlipV;*/
/*-ms-filter: "FlipV";*/
/*}*/
/*88%{*/
/*-webkit-transform: scale(0.5, 0.8);*/
/*transform: scale(0.5, 0.8);*/
/*}*/
/*90%{*/
/*-webkit-transform: scale(1, 0.9);*/
/*transform: scale(1, 0.9);*/
/*}*/