

.core ul {
    margin-top: 20px;
    list-style-type: none;
}

.core h2, .core h3, .core h4 {
    color: #ffffff;
    text-shadow: #023a31;
}



p:first-child::first-letter {
    font-size: 40px;
}

.core img.desaturate {
    -webkit-filter: grayscale(75%);
    -moz-filter: grayscale(75%);
    filter: grayscale(75%);
}

.core img.sepia {
    filter: sepia(100%);
    -webkit-filter: sepia(100%);
    -moz-filter: sepia(100%);
    -ms-filter: sepia(100%);
    -o-filter: sepia(100%);
-webkit-filter(1);
}

.core .navbar-brand, .core .navbar-nav, .core li a {
    color: #ffffff;
    background: rgba(0, 0, 0, 0.0);
}

.core .nav .open a:focus, .core .nav li a:hover, .core .nav li a:focus {
    color: #ffffff;
    background: rgba(0, 0, 0, 0.0);
}

.nav .open a {
    color: #ffffff;
}

.table-bordered {
    margin: 20px 0 10px 0;
}

.open > .dropdown-menu {
    background: rgba(0, 0, 0, 0.8);
    border: solid 3px #101010;
    border-radius: 15px;
}

.undecorated-link:hover {
    text-decoration: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.clear{
    clear:both;
}

.ng-invalid.ng-dirty{
    border-color:#FA787E;
}

.ng-valid.ng-dirty{
    border-color:#78FA89;
}

.hide-overlay-yes {
    display: none;
}

.hide-overlay-no {
    display: block;
}


/* mapping slc small logo */
.small-main-logo {
    content: url(../../core/img/brand/mapping.png);
    width: 150px;
    height: 47px;
    position: absolute;
    display: block;
    z-index: 999;
    left: 2.75%;
    top: 0.75%;
}

/*
/ creates On/Off Toggle switch
*/
.switch-on{
    background: #023a31;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 22pt;
    height: 50px;
    left: -25px;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: -25px;
    width: 50px;
    transition: all 0.7s ease;
}

.switch-on:hover{
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    background: rgba(0, 0, 0, 0.8);
}

.switch-off {
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 15%;
    color: #fff;
    cursor: pointer;
    font-size: 1.4em;
    height: 40px;
    left: -615px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: -25px;
    width: 60px;
}

.switch-off:hover {
    background: rgba(0, 0, 0, 0.8);
    border: 5px solid rgba(255, 255, 255, 0.4);
}

.containerOn{
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    border: 3px solid #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    margin: 35px auto;
    overflow: visible !important; /* Has to be !important only if you're using an on/off switch */
    padding: 0 20px 20px 20px;
    position: relative;
    width: 100%;
    height: 60rem;
    top: 15%;
    z-index: 2;
    /*display: block;*/
    transition: all 0.7s ease;
}

.home{
    text-align: justify;
}

.home .page-header{
    margin: 20px 0 10px 0;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: rgba(0, 0, 0, 0);
    color: #f5f5f5;
}


/*.page-header .content {*/
/*margin-top: 0;*/
/*}*/

div.home div.col-lg-12 {
    padding-top: 15px;
    padding-bottom: 20px;
}

div.col-lg-12.row-group {
    margin-top: 0;
}

div.col-lg-12.row-group p {
    line-height: 175%;
    font-size: 1.6rem;
}

div.col-md-5.pull-left .btn.btn-primary.btn-lg.btn-main.grow.pull-right {
    margin:0px 0px 20px 0px;

}

.home-text {
    color: #ffffff;
    font-size: 1.5rem;
}

.main-text .home-text{
    font-size: 2rem;
    margin-top: 3.4%;
    margin-bottom: 0;
}

.photo {
    padding: 15px;
}

.btn-main {
    cursor:pointer;
    border:2px solid #fff;
    background: #023a31;
}

.btn-main:focus, .btn-main:hover {
    background: #023a31;
    border: 2px solid #fff;
}

/*button animation*/
/* Grow */

.grow {
    display: inline-block;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition: all 0.3s ease 0s;
}

.grow:hover {
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    background: rgba(0, 0, 0, 0.5);
}

button > .grow {
    display: inline-block;
}



/* form styling -------------- */
.group {
    position:relative;
    margin-bottom:45px;
}


::-webkit-input-placeholder {
    color: #ffffff;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #ffffff;
}

:-ms-input-placeholder {
    color: #ffffff;
}



/* BOTTOM BARS ================================= */

.bar {
    position:relative; display:block; width:300px;
}

.bar:before, .bar:after {
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#5264AE;
    transition:0.2s ease all;
}

.bar:before {
    left:50%;
}

.bar:after {
    right:50%;
}

/* active state */


/* HIGHLIGHTER ================================== */
.highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}

/* active state */


/* ANIMATIONS ================ */
@keyframes inputHighlighter {
    from  { background:#5264AE; }
    to    { width:0; background:transparent; }
}


@media (max-width: 992px) {
    ul figure{
float:left;
 width:33.333%;
}
    .containerOn {
        margin-top: 15%;
        width: 80%;
        height: 64em;
    }
   .col-md-7.pull-right{
        float:none !important;
    }
    .col-md-7.pull-right a img{
        /*working on tablet sized 'featured projects' section. The above gives the featured projects it's full length*/
    }
    .core ul{
        position:relative;
    }

   .row a .img-responsive {
        width:10%;
        float:left;
       padding-top:10px;

    }

}
.social-media-button{
    display: block;
}

.medium-main-logo {
    content: url(../../core/img/brand/logo-75.png);
    width: 225px;
    height: 71px;
    position: relative;
    display: block;
    z-index: 999;
    left: 12px;
    top: 20px;
    bottom: 5%;
}

/* mapping slc small logo */
.small-main-logo2 {
    content: url(../../core/img/brand/mapping.png);
    width: 150px;
    height: 47px;
    position: absolute;
    display: block;
    z-index: 999;
    left: 3.5%;
    top: 0.75%;
}
