body { min-height: 100%; height: 100%; }
.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}
.footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    /* Set the fixed height of the footer here */
    height: 150px;
    background-color: #4C4846;
}

.footer-link {
    width: 100%;
    text-align: center;
}
