body { min-height: 100%; height: 100%; }
.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}
.footer {
    bottom: 0;
    width: 100%;
    /* position: absolute;
    /* Set the fixed height of the footer here */
    height: 150px;
    background-color: #4C4846;
}

.footer-link {
    width: 100%;
    text-align: center;
}

body,
html{
    height: 100%;
    width: 100%; } /* If you don't do this, gremlins will eat your nose. */

#gmap{
    height: 100%;
    left: 0;
    position: fixed !important; /* Acts in pretty much the same way as background-attachment: fixed for an image background. Has to be !important only if you're using the Google Maps API. */
    top: 0;
    width: 100%;
    z-index: 1; } /* Has to be at least one increment smaller in value than the container's z-index */

#container{
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    border: 3px solid #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    overflow: visible !important; /* Has to be !important only if you're using an on/off switch */
    padding: 40px;
    position: relative;
    top: 100px;
    width: 800px;
    z-index: 2; }
