.core body, .core html {
    height: 100%;
    width: 100%; /* If you don't do this, gremlins will eat your nose. */
}

.core body {
    min-height: 100%;
    height: 100%;
}

.core ul {
    margin-top: 20px;
    list-style-type: none;
}

.core h2, .core h3, .core h4 {
    color: lightyellow;
    text-shadow: #023a31;
}

p:first-child {
    margin-bottom: 15px;
}

p:first-child::first-letter {
    font-size: 40px;
}

.core img.desaturate {
    -webkit-filter: grayscale(75%);
    -moz-filter: grayscale(75%);
    filter: grayscale(75%);
}

.core img.sepia {
    filter: sepia(100%);
    -webkit-filter: sepia(100%);
    -moz-filter: sepia(100%);
    -ms-filter: sepia(100%);
    -o-filter: sepia(100%);
    -webkit-filter(1);
}

.core .navbar-brand, .core .navbar-nav, .core li a {
    color: #f5deb3;
    background: rgba(0, 0, 0, 0.0);
}

.core .nav .open a:focus, .core .nav li a:hover, .core .nav li a:focus {
    color: #f5deb3;
    background: rgba(0, 0, 0, 0.0);
}

.nav .open a {
    color: #ffffff;
}

.table-bordered {
    margin: 20px 0 10px 0;
}

.open > .dropdown-menu {
    background: rgba(0, 0, 0, 0.8);
    border: solid 3px #101010;
    border-radius: 15px;
}

.undecorated-link:hover {
	text-decoration: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.ng-invalid.ng-dirty{
    border-color:#FA787E;
}

.ng-valid.ng-dirty{
    border-color:#78FA89;
}

.hide-overlay-yes {
    display: none;
}


/*
/ creates On/Off Toggle switch
*/
.switch-on{
    background: #023a31;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 22pt;
    height: 50px;
    left: -25px;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: -25px;
    width: 50px;
}

.switch-on:hover{
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    background: rgba(0, 0, 0, 0.8);
}

.switch-off {
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 15%;
    color: #fff;
    cursor: pointer;
    font-size: 1.4em;
    height: 40px;
    left: -615px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: -25px;
    width: 60px;
}

.switch-off:hover {
    background: rgba(0, 0, 0, 0.8);
    border: 5px solid rgba(255, 255, 255, 0.4);
}

#gmap {
    height: 100%;
    left: 0;
    position: fixed !important; /* Acts in pretty much the same way as background-attachment: fixed for an image background. Has to be !important only if you're using the Google Maps API. */
    top: 0;
    width: 100%;
    z-index: 1; /* Has to be at least one increment smaller in value than the container's z-index */
}

.containerOn{
    /*background: url('../img/brand/mapping.png') no-repeat top right;*/
    /*background-position: 15% 5%;*/
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    border: 3px solid #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    margin: 35px auto;
    overflow: visible !important; /* Has to be !important only if you're using an on/off switch */
    padding: 0 20px 20px 20px;
    position: relative;
    width: 100%;
    height: 40em;
    top: 15px;
    z-index: 2;
}

.home{
    text-align: justify;
  }

.home .page-header{
    margin: 20px 0 10px 0;
}

.logo {
    background: url('../img/brand/mapping.png') no-repeat top right;
    background-position: 15% 5%;
    width: 150px;
    height: 100%;
    z-index: 2;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: rgba(0, 0, 0, 0);
    color: #f5f5f5;
}


/*.page-header .content {*/
    /*margin-top: 0;*/
/*}*/

div.home div.col-lg-12 {
    padding-top: 85px;
    padding-bottom: 20px;
}

.home-text {
    color: #f5deb3;
    font-size: 1.5rem;
}

.main-text .home-text{
    font-size: 2rem;
}

.photo {
    padding: 15px;
}

.btn-main {
    cursor:pointer;
    border:2px solid #fff;
    background: #023a31;
}

.btn-main:focus, .btn-main:hover {
    background: #023a31;
    border: 2px solid #fff;
}

/*button animation*/
/* Grow */

.grow {
    display: inline-block;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition: all 0.3s ease 0s;
}

.grow:hover {
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    background: rgba(0, 0, 0, 0.5);
}

button > .grow {
    display: inline-block;
}

.container-footer .col-md-4 {
    padding: 0 0 0 15px;
}

div.container-footer .row {
    padding: 0;
}

.container-footer {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    border: 3px solid #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    margin: 35px auto;
    overflow: visible !important; /* Has to be !important only if you're using an on/off switch */
    padding: 0 20px 20px 20px;
    position: relative;
    width: 100%;
    height: 6.5em;
    top: 10px;
    z-index: 2;
}

.footer .form-inline {
    padding-top: 15px;
    margin-left: 50px;
}

/* form styling -------------- */
.group {
    position:relative;
    margin-bottom:45px;
}

.footer input {
    font-size:14px;
    padding:10px 10px 10px 5px;
    margin-right: 10px;
    display:inline;
    width:300px;
    border:none;
    border-bottom:1px solid #f5deb3;
    background-color: transparent;
    color: lightgoldenrodyellow;
}

::-webkit-input-placeholder {
    color: #f5deb3;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #f5deb3;
}

:-ms-input-placeholder {
    color: #f5deb3;
}

.footer input:hover {

}

.footer input:focus, .footer input:active {
    outline:none;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    border: none;
    font-size: 10pt;
}

.btn-footer {
    color: #fff;
}

.btn-footer:hover, .btn-footer:focus, .btn-footer.focus {
    color: #ffffff;
}

/* LABEL ======================================= */
.footer label {
    color:#f5deb3;
    font-size:14px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
}

/* active state */
.footer input:focus ~ .footer label, .footer input:valid ~ .footer label {
    top:-20px;
    font-size:14px;
    color:#5264AE;
}

/* BOTTOM BARS ================================= */

.bar {
    position:relative; display:block; width:300px;
}

.bar:before, .bar:after {
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#5264AE;
    transition:0.2s ease all;
}

.bar:before {
    left:50%;
}

.bar:after {
    right:50%;
}

/* active state */
.footer input:focus ~ .bar:before, .footer input:focus ~ .bar:after {
    width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}

/* active state */
.footer input:focus ~ .highlight {
    animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@keyframes inputHighlighter {
    from  { background:#5264AE; }
    to    { width:0; background:transparent; }
}

@media (min-width: 992px) {
    .col-md-4 {
        width: 31%;
    }

    .container-footer .col-md-4 {
        width: 25%;
        margin: 5px;
    }

    img .container-footer .col-md-4 {
        width: 305%;
        margin: 5px;
    }
}

@media (max-width: 992px) {

    .containerOn {
        margin-top: 15%;
        width: 80%;
        height: 80em;
    }
}