.file-upload {
    margin: 5%;
    font-size: 2rem;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 45%;
    height: 20%;
    text-align: center;
    padding: 5% 0;
}
.dragover {
    border: 5px dashed blue;
}

hr {
    border: 0;
    box-shadow: 0 -2px 10px 1px #1d1d1d;
    content: "\00a0";  /* Prevent margin collapse */
    width: 105%;
    transform: translate(-2.5%, 0);
    display: block;
    margin: 6% 0;
    height: 1px;
    background-image: linear-gradient(to right, #ccc, #1d1d1d, #ccc);
}

.file-upload img {
    margin: 4% 3% 4% 0;
    max-height: 100px;
    -webkit-transition: all 1.7s ease-in-out;
    -moz-transition: all 1.7s ease-in-out;
    -ms-transition: all 1.7s ease-in-out;
    -o-transition: all 1.7s ease-in-out;
    transition: all 1.7s ease-in-out;
}

.file-upload .grow {
    margin: 3% 0;
}

.file-upload pre {
    min-height: 65px;
}