.container .footer-overlay .col-md-4 {
    padding: 0 0 0 15px;
}

.container .footer-overlay > div.row {
    padding: 0;
    margin-top: 5px;
}

/* The main '.footer-overlay' class is located in the core/css/animations.css file */

.footer-overlay .body{
    padding-top: 10px;
    margin-left: 5px;
}

.footer-overlay .form {
    margin-top: 1%;
    margin-left: 15%;
}

.footer-overlay input:focus, .footer-overlay input:active {
    outline:none;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    border: none;
    font-size: 10pt;
}

.btn-footer-overlay {
    color: #fff;
}

.btn-footer-overlay:hover, .btn-footer-overlay:focus, .btn-footer-overlay.focus {
    color: #ffffff;
}

/* LABEL ======================================= */
.footer-overlay input {
    font-size:14px;
    padding:10px 10px 10px 5px;
    margin-right: 10px;
    display:inline;
    width:68%;
    border:none;
    border-bottom:1px solid #ffffff;
    background-color: transparent;
    color: lightgoldenrodyellow;
}

.footer-overlay label {
    color:#ffffff;
    font-size:14px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
}

/* active state */
.footer-overlay input:focus ~ .footer-overlay label, .footer-overlay input:valid ~ .footer-overlay label {
    top:-20px;
    font-size:14px;
    color:#5264AE;
}
.footer-overlay input:focus ~ .bar:before, .footer-overlay input:focus ~ .bar:after {
    width:50%;
}
.footer-overlay input:focus ~ .highlight {
    animation:inputHighlighter 0.3s ease;
}
@media (max-width: 992px){
    .footer-overlay .form-inline {
        padding-top: 10px;
        margin: 0;
        top: -50px;
        left: -50px;
        position: relative;
        width: 329px;
    }
}