.container .footer-overlay .col-md-4 {
    padding: 0 0 0 15px;
}

.container .footer-overlay > div.row {
    padding: 0;
    margin-top: 5px;
}

/* The main '.footer-overlay' class is located in the core/css/animations.css file */

.footer-overlay .body{
    padding-top: 10px;
    margin-left: 5px;
}

.footer-overlay .form {
    margin-top: 1%;
    margin-left: 15%;
}

.footer-overlay input:focus, .footer-overlay input:active {
    color: #ffffff;
    font-size: 175%;
}

.btn-footer-overlay {
    color: #fff;
    margin: 2% 0 0 7.5%;
}

.btn-footer-overlay:hover, .btn-footer-overlay:focus, .btn-footer-overlay.focus {
    color: #ffffff;
}


@media (max-width: 992px){
    .footer-overlay .form-inline {
        padding-top: 10px;
        margin: 0;
        top: -50px;
        left: -50px;
        position: relative;
        width: 329px;
    }
}