
/* =============================================================
   SIDE MENU BASIC STYLING
 ============================================================ */

.hr-set {
    border-top: 1px solid rgba(0, 0, 0, 0)!important;
    margin-bottom: 20px;
}

.hr-set-two {
    border-top: 1px solid rgba(0, 0, 0, 0.05)!important;
    margin-bottom: 5px;
}


/* =============================================================
   SIDE MENU TWEAKS
 ============================================================ */

.side-menu {
    background: url('../img/brand/mapping.png') no-repeat top right;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    height: 100%;
    width: 23%;
    top: 0;
    left: 0;
    z-index: 999;
    overflow: hidden;
    border-radius: 0 15px 15px 0;
    color: #ffffff;
    text-align: justify;
    font-size: 18px;
}

.side-menu ul {
    list-style: none;
    padding: 0;
}

.side-menu ul li {
    border-bottom: 1px solid rgba(95, 87, 88, 0.2);
    padding:  20px 15px;
    display: inline-block;
}

.side-menu ul li a i {
    padding-right: 10px;
}

.side-menu ul li a {
    text-decoration: none;
    font-size: 20px;
    transition: all 0.2s linear;
    cursor: pointer;
}

.side-menu ul li a:hover, .side-menu ul li a:focus {
    font-size: 2.1rem;
}

.side-menu p {
    line-height: 165%;
    padding: 0 20px 5px 20px;
}

img.logo.pull-right {
    padding-right: 25px;
}

.logo-text {
    padding:  20px 30px;
    cursor:  pointer;
    font-size: 20px;
    font-weight: 900;

}

.menu-close-icon {
    cursor:  pointer;
    color: #fff;
    font-size: 35px;
    z-index: 10;
}
.menu-open-icon {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    position: fixed;
    font-size: 35px;
    z-index:  500;
}


/* =============================================================
   SIDE MENU ANIMATION
 ============================================================ */


/* when hiding the picture */
.ng-hide-add         { animation:0.5s lightSpeedOut ease; }

/* when showing the picture */
.ng-hide-remove      { animation:0.5s flipInX ease; }

/* ANIMATIONS (FROM ANIMATE.CSS) ======================== */
/* flip in */
@keyframes flipInX {
    0% {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transition-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    100% {
        transform: perspective(400px);
        transform: perspective(400px);
        transform: perspective(400px);
    }
}

/* light speed out */
@keyframes lightSpeedOut {
    0% {
        opacity: 1;
    }

    100% {
        transform: translate3d(100%, 0, 0) skewX(30deg);
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0;
    }
}

@keyframes lightSpeedOut {
    0% {
        opacity: 1;
    }

    100% {
        transform: translate3d(100%, 0, 0) skewX(30deg);
        transform: translate3d(100%, 0, 0) skewX(30deg);
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0;
    }
}