@media (max-width: 972px) {
    .featured {

    }

    .animate-small-logo {
        top: -2%;
        left: -3%
    }

    .main-overlay {
        overflow: visible;
    }

    .footer-overlay form {
        margin: 0.5% 0;
    }
    .small-main-logo{
        left: 8%;
    }

    .footer-overlay {
        padding: 2%;

    }

    .footer-overlay .body {
        padding-top: 0;
        margin-left: 0;
    }

    /*applies to all pages that have a static map as background image, so most views other than home page*/
    .main-content-outer {
        /*height: auto;*/
        width: 95%;
        margin: 0;
        padding: 1%;
        border-radius: 10px;
        border: solid 2px #090909;
    }
    /*applies to all pages that have a static map as background image, so most views other than home page*/
    .main-content-inner {
        /*height: auto;*/
        /*width: 75%;*/
        background-color: rgba(255, 248, 231, 0.9);
        margin: 0;
        padding: 1%;
        border-radius: 10px;
    }

    .page-header {
        margin: 12% 0 0 5%;
    }

    .menu-icon {
        top: 3.5%;
        left: 6%;
        transform: scale(1.2);
    }

    .logo-second-page {
        top: 5%;
        left: 25%;
        transform: scale(2);
    }

}