<section class="container" data-ng-controller="MapController" data-ng-init="mapFunction()">
    <div id='filters' class='ui-select'>
        <div><input type='checkbox' checked=checked class='filter'
                    name='filter' id='Historical' value='Historical'/><label for='Historical'>Historical</label></div>
        <div><input type='checkbox' checked=checked class='filter'
                    name='filter' id='Food' value='Food'/><label for='Food'>Food</label></div>
        <div><input type='checkbox' checked=checked class='filter'
                    name='filter' id='Local Business' value='Local Business'/><label for='Local Business'>Local Business</label></div>
    </div>
    <!--to call MapBox map-->
    <div id='map' class='map'></div>
    <!--<div id='map'></div>-->

</section>
