<section class="container" data-ng-controller="MapController" data-ng-init="mapFunction()">

    <span data-ng-show="categoryFilters">
        <div id="filters" class="ui-select" data-ng-show="'fa fa-chevron-right'" ng-class="{true: 'ui-select-on', false:
        'ui-select-off'}[filters]">

            <!--beginning of input fields-->

                <div id="check-awesome" class="form-group filter">
                    <input type="checkbox" checked=checked name="filters" id="interviews" value="interviews">
                    <label for="interviews">
                            <span class="check"></span>
                            <span class="box"></span>
                            Interviews
                    <label/>
                </div>

            <div id="check-awesome" class="form-group filter">
                <input type="checkbox" checked=checked name="filters" id="essays" value="essays">
                <label for="essays">
                    <span class="check"></span>
                    <span class="box"></span>
                    Essays
                </label>
            </div>

            <div id="check-awesome" class="form-group">
                <input type="checkbox" id="multimedia" checked="checked" name="filters" value="multimedia">
                <label for="multimedia">
                    <span class="check"></span>
                    <span class="box"></span>
                    Multimedia
                </label>
            </div>
        <!-- end of form input fields-->

        </div>
    </span>

    <span data-ng-hide="categoryFilters">
        <div id="filters" class="ui-select">
            <span class="fa fa-chevron-left" data-ng-click="categoryFilters=!categoryFilters"></span>
        </div>
    </span>

    <!--to call MapBox map-->

    <div id="map" class="map"></div>

</section>