{% extends 'layout.server.view.html' %}

{% block content %}
<h1>Oh, traveller, you look lost. Don't worry. That's part of the joy.</h1>
<!--<div class="alert alert-danger" role="alert">-->
<!--<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>-->
<!--<span class="sr-only">Error:</span>-->
<!--{{url}} is not a valid path.-->
<!--</div>-->

<div class="alert alert-danger" role="alert">
  <div>
    <img src="http://www.christanseer.com/images/error/lost.jpg" alt="Mail Gets Lost"/>
  </div>
  <div id="extended" class="clearfix shadow">
    <h2>Uh... You lost?</h2>

    <h3><strong>404 Error: Page Not Found </strong></h3><br>

    <p>There's no telling why you're here or what happened to the page you're looking for. That's the way life goes. Did
      you spell it correctly? Ok,ok, fine. Just asking. But, don't worry, it happens to the best of us. In the mean
      time, sit back, listen, and check out these sites about being lost.<br>

    <table width="555" border="1" cellspacing="10" cellpadding="10">
      <tr>
        <td width="511"><a href="http://www.wikihow.com/Survive-Being-Lost-in-the-Forest">Lost</a> in the woods?
        </td>
      </tr>
      <tr>
        <td>Find that <a href="http://www.ehow.com/how_5700340_reunite-lost-loves.html">lost</a> love!
        </td>
      </tr>
      <tr>
        <td>Were more jobs <a href="http://thinkprogress.org/economy/2012/06/01/493849/obama-bush-jobs-record/">lost</a>
          under Obama or Bush? (Hint: It rhymes with (and often acted like a) "tush.")
        </td>
      </tr>
      <tr>
        <td>Feeling spiritually <a href="http://bible.cc/2_corinthians/4-3.htm" target="new">lost</a>?</td>
      </tr>
      <tr>
        <td>Emotionally <a href="http://www.nami.org/">lost</a>? ... still <a
          href="http://www.npr.org/templates/story/story.php?storyId=5165226">lost</a>?
        </td>
      </tr>
      <tr>
        <td>Emotionally <a href="http://www.wired.com/culture/lifestyle/news/2003/02/57444?currentPage=all">lost</a> and
          ready to move on?
        </td>
      </tr>
      <tr>
        <td>Emotional <a href="http://en.wikipedia.org/wiki/K%C3%BCbler-Ross_model">loss</a>: Just the facts, Ma'am.
        </td>
      </tr>
      <tr>
        <td>Merely physically <a href="http://maps.google.com/">lost</a>?</td>
      </tr>
      <tr>
        <td>Things we <a href="http://travel.nytimes.com/2007/04/03/business/03lost.html?_r=0" target="new">lose</a>.
        </td>
      </tr>
      <tr>
        <td>Letting go of <a href="http://www.mayoclinic.com/health/forgiveness/MH00131">loss</a>: (aka, forgiveness)
          &amp; here <a href="http://youtu.be/kEQgkor-jgU" target="new">too</a></td>
      </tr>
      <tr>
        <td>How <em>not</em> to <a href="http://www.helpguide.org/mental/mental_emotional_health.htm"
                                   target="new">lose</a> that special someone
        </td>
      </tr>
      <tr>
        <td>And, if that doesn't work, remember, we're might social folk, so <a
          href="http://www.ted.com/talks/david_brooks_the_social_animal.html" target="new">find</a> others.
        </td>
      </tr>

    </table>

    <br>
    (<strong>Warning!</strong> This page will self-destruct once the song is over, in 60 seconds.)</p>
  </div>
</div>


{% endblock %}
