<section data-ng-controller="StoriesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Story</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input type="text" data-ng-model="story.title" id="title" class="form-control" placeholder="Title" required>
                    </div>
                    <label class="control-label" for="body">Body</label>
                    <div class="controls">
                        <textarea data-ng-model="story.body" id="body" class="form-control" placeholder="Body" required></textarea>
                    </div>
                    <label class="control-label" for="address">Address</label>
                    <div class="controls">
                        <input type="text" data-ng-model="story.address" id="address" class="form-control" placeholder="Address" required>
                    </div>
                    <label class="control-label" for="city"></label>
                    <div class="controls">
                        <input type="text" data-ng-model="story.city" id="city" class="form-control" placeholder="City" required>
                    </div>
                    <label class="control-label" for="zipcode"></label>
                    <div class="controls">
                        <input type="text" data-ng-model="story.zipcode" id="zipcode" class="form-control" placeholder="zipcode" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>