<section data-ng-controller="StoriesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Stories</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="story in stories" data-ng-href="#!/stories/{{story._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="story.created | date:'medium'"></span>
				by
				<span data-ng-bind="story.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="story.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!stories.$resolved || stories.length">
    	No Stories yet, why don't you <a href="/#!/stories/create">create one</a>?
    </div>
</section>