<secondary-menu-directive></secondary-menu-directive>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }"
         data-ng-class="{'page-view-menu-open': toggleSecondMenu}">

    <section class="container">

        <div class="main-content-outer">

            <section class="main-content-inner" data-ng-controller="ContactsController" data-ng-init="find()">
                <a href="/#!/admin"><span><i class="fa fa-chevron-left"></i></span></a>

                <div class="page-header">
                    <h1>Messages</h1>
                </div>
                <div class="list-group">
                    <a data-ng-repeat="contact in contacts" data-ng-href="#!/contacts/{{contact._id}}"
                       class="list-group-item">
                        <small class="list-group-item-text">
                            Posted on
                            <span data-ng-bind="contact.created | date:'medium'"></span>
                            by
                            <span data-ng-bind="contact.user.displayName"></span>
                        </small>
                        <h4 class="list-group-item-heading" data-ng-bind="contact.name"></h4>
                    </a>
                </div>
                <div class="alert alert-warning text-center" data-ng-hide="!contacts.$resolved || contacts.length">
                    No Contacts yet, why don't you <a href="/#!/contacts/create">create one</a>?
                </div>
            </section>
        </div>


    </section>
</section>