<secondary-menu-directive></secondary-menu-directive>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }" data-ng-class="{'page-view-menu-open': toggleSecondMenu}">

    <section class="container">
        <a href="/" class="small-main-logo logo-on-page logo-second-page img-responsive"></a>
        <div class="main-content-outer">


            <section data-ng-controller="ProjectsController" data-ng-init="findOne()" class="main-content-inner">
            <div class="page-header">
                <h1>Edit Project</h1>
            </div>
            <div class="col-md-12">
                <div class="img-responsive">
                    <a ng-href="/"><img ng-src="{{logo}}"></a>
                </div>
                <form class="form-horizontal" data-ng-submit="update()" novalidate>
                    <fieldset>
                        <div class="form-group">

                            <div class="controls">
                                <label class="control-label">Street</label>

                                <div class="controls">
                                    <input type="text" data-ng-model="street" id="street" class="form-control"
                                           placeholder="Street"
                                           required>
                                </div>
                                <label class="control-label">City</label>

                                <div class="controls">
                                    <input type="text" data-ng-model="city" id="city" class="form-control"
                                           placeholder="City"
                                           required>
                                </div>
                                <label class="control-label">State</label>

                                <div class="controls">
                                    <input type="text" data-ng-model="state" id="state" class="form-control"
                                           placeholder="State"
                                           required>
                                </div>
                                <label class="control-label">Zip Code</label>

                                <div class="controls">
                                    <input type="number" data-ng-model="zip" id="zip" class="form-control"
                                           placeholder="Zip Code"
                                           required>
                                </div>

                                <label class="control-label">Project Title</label>

                                <div class="controls">
                                    <input type="text" data-ng-model="title" id="title" class="form-control"
                                           placeholder="Project Title"
                                           required>
                                </div>

                                <div class="controls">
                                    <input type="text" data-ng-model="category" id="category" class="form-control"
                                           placeholder="Category">
                                </div>

                                <div class="controls">
                                    <input type="text" data-ng-model="vimeoId" id="vimeoId" class="form-control"
                                           placeholder="Vimeo ID">
                                </div>


                                <label class="control-label">Story</label>
                                <div class="controls">
                                    <textarea ckeditor="editorOptions" ng-model="story" id="story" required></textarea>
                                </div>


                            </div>

                            <div class="form-group">
                                <input type="submit" value="Update" class="btn btn-primary btn-lg btn-main grow">
                            </div>

                            <div data-ng-show="error" class="text-danger">
                                <strong data-ng-bind="error"></strong>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>
            </div>
    </section>
</section>
