<secondary-menu-directive></secondary-menu-directive>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }" data-ng-class="{'page-view-menu-open': toggleSecondMenu}">

    <section class="container">
        <a href="/" class="small-main-logo logo-on-page logo-second-page img-responsive"></a>

        <div class="main-content-outer">

            <section data-ng-controller="ProjectsController" data-ng-init="find()" class="main-content-inner">

                <div class="list-projects">

                <a data-ng-click="goBack()"><span><i class="fa fa-chevron-left"></i></span></a>

                    <div class="page-header">
                        <h1>Projects</h1>
                    </div>

                    <div class="list-group">
                        <div class="row">
                            <div class="col-md-12">
                                <a data-ng-repeat="project in projects" data-ng-href="/projects/{{project._id}}" class="col-md-4 story-summary animation-cards">
                                    <span>
                                        <span>
                                            <img data-ng-src="{{thumbs[0]['image']}}"/>
                                        </span>

                                        <span class="pull-right">
                                            <span data-ng-bind="project.title"></span><br/>
                                            <span data-ng-bind="project.user.displayName">there</span><br/>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>

                        <div class="alert alert-warning text-center" data-ng-hide="!projects.$resolved || projects.length">
                            No Projects yet, why don't you <a href="/projects/create">create one</a>?
                        </div>

                    </div>
                </div>

            </section>
        </div>
    </section>
</section>
