<secondary-menu-directive></secondary-menu-directive>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }"
         data-ng-class="{'page-view-menu-open': toggleSecondMenu}">

    <section class="container">
        <a href="/" class="small-main-logo logo-on-page logo-second-page img-responsive"></a>
        <div class="main-content-outer">
            <section data-ng-controller="ProjectsController" class="main-content-inner">


                <div class="page-header">
                    <h1>Mapping SLC's Local Artist Interview Series</h1>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-12">

                        <div class="videoWrapper">
                            <iframe data-ng-show="!videoSizeSelect()" width="560" height="349" src="//player.vimeo.com/video/88932543" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>

                        <br/>

                        <div class="project-body">
                        <p>Andrew Shaw is a songwriter, composer, and performer based in Salt Lake City. He composed, performed, and recorded the original score for the feature films The Strongest Man (Sundance Film Festival 2015) and Must Come Down. His music has been used in public television and commercial applications, as well.</p>
                        <p>Shaw writes and performs music with a handful of bands and solo acts, including Color Animal, Magic Mint, Albino Father, and Andrew Shaw. He has previously performed as The Platte, was a member of Calico and Bluebird Radio, and has sat in with David Williams, Will Sartain, Band of Annuals, GIANT, and many others.</p>
                        </div>

                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">

                        <h3>Related Stories</h3>


                    </div>
                </div>

            </section>
        </div>
    </section>
</section>
