<secondary-menu-directive></secondary-menu-directive>

<!--<section class="content background" data-ng-controller="RandomMapController"-->
         <!--ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }" data-ng-class="{'page-view-menu-open': toggleSecondMenu}">-->
    <section class="container">
        <a href="/#!/" class="small-main-logo logo-on-page logo-second-page img-responsive"></a>

        <!--<div class="main-content-outer">-->

            <!--<section data-ng-controller="d3DataController" class="main-content-inner">-->
            <section data-ng-controller="d3DataController">
                <!--<div class="page-header">-->
                    <!--<h1>d3</h1>-->
                <!--</div>-->

                <!--&lt;!&ndash;<chart-directive class="chart" data="moreLogs[0]"></chart-directive>&ndash;&gt;-->

            </section>
        <!--</div>-->
    </section>
<!--</section>-->