.dropdown label {
    width: 120px;
    display: inline-block;
    vertical-align: middle;
}

.dropdown select {
    width: 150px;
    display: inline-block;
    vertical-align: middle;
}

.dropdown textarea {
    width: 250px;
    height: 100px;
}