<secondary-menu-directive></secondary-menu-directive>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }" data-ng-class="{'page-view-menu-open': toggleSecondMenu}" onerror="myFunction()">

    <section class="container">
        <a href="/" class="small-main-logo logo-on-page logo-second-page img-responsive"></a>

        <div class="main-content-outer">

            <section data-ng-controller="ProjectsController" data-ng-init="findOne()" class="main-content-inner">

                <div class="admin">
                    <!--<div class="admin-projects">-->
                    <div class="admin-user">


                        <a href="/admin"><span><i class="fa fa-chevron-left"></i></span></a>

                        <div class="page-header">
                            <h1>{{project.title}}
                                <a href="#" data-ng-show="'modules/core/img/{{photo0}}'"><span><img data-ng-src="modules/core/img/{{photo0}}" class="header-profile-image pull-right"/></span></a>
                                <a href="#" data-ng-hide="'modules/core/img/{{photo0}}'"><span><img data-ng-src="" class="header-profile-image pull-right"/></span>Upload
                                    a Pic</a>
                            </h1>
                        </div>

                        <div class="row projects-profile">
                            <div class="col-xs-12">
                              <a class="btn btn-main grow" data-ng-click="publishProject()">
                                Publish
                                <i class="fa fa-check"></i>
                              </a>

                              <a class="btn btn-main grow" data-ng-click="confirmPublishModal()">
                                Yodal My Modal
                                <i class="fa fa-check"></i>
                              </a>

                                <form class="form-horizontal" data-ng-submit="update()" novalidate>
                                  <fieldset>
                                        <project-view-form></project-view-form>
                                    </fieldset>
                                </form>

                            </div>
                        </div>

                        <hr>

                        <div class="pull-right">
                            <a class="btn btn-main grow" data-ng-click="testButton()">
                                <i class="fa fa-check"></i>
                            </a>
                            <a class="btn btn-main grow btn-warning" data-ng-click="remove();">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </section>
</section>
