.widget-box {
    background: hsla(156, 48%, 8%, 0.2);
    border: solid 1px #fff9e6;
    /*width: 100px;*/
    /*height: 100px;*/
    display: inline-block;
    visibility: visible;
}

a.widget-box {
    display: block;
    font-size: 2rem;
    padding: 3%;
    text-align: center;
    text-decoration: none;
    display: flex;
    margin: 2rem 0;
    color: hsla(156, 68%, 29%, 1);
    border: solid 2px transparent;
}

a.widget-box:hover {
    background: hsla(156, 68%, 29%, 1);
    border: solid 2px #ffffff;
    border-radius: 5px;
    color: #FFFFFF;
}

a.widget-box i {
    font-size: 5rem;
    display: flex;
    padding: 3%;
}

a.widget-box span {
    padding-left: 5%;
    margin-top: 14%;
}

.main-content-inner > a > span > i {
    font-size: 2rem;
    color: green;
}

.main-content-inner > a > span > i:hover {
    background: transparent;
    color: darkgreen;
    transform: scale(1.5);
}

.admin-list {
    background-color: rgba(0, 0, 0, 0.1);
    border: solid 1px #ffffff;
    padding: 2% 5%;
    color: #000;
    font-size: 1.75rem;
}

.admin-list:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border: solid 1px #023a31;
    text-decoration: none;
}


thead tr {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-size: 1.85rem;
    cursor: pointer;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .border-bottom-width {
    border-bottom-width: 5px;
}

.table-bordered > thead > tr > th:hover, .table-bordered > thead > tr > td:hover, .border-bottom-width:hover {
    background-color: rgba(3, 3, 3, 0.6);
}

tbody tr {
    color: #262626;
    font-size: 1.7rem;
}

tbody tr:hover {
    cursor: pointer;
}

tbody tr:nth-child(odd) td {
    background-color: rgba(2, 58, 49, 0.6);
}

tbody tr:nth-child(odd):hover {
    background-color: rgba(3, 59, 50, 0.6);
    color: #fffacd;
}

tbody tr:nth-child(even) td {
    background-color: rgba(2, 58, 49, 0.3);
}

tbody tr:nth-child(even):hover {
    background-color: rgba(2, 58, 49, 0.4);
    color: #000000;
}