<section class="container map" data-ng-controller="HomeController" data-ng-init="mapFunction()">

    <!--logo-->
    <div data-ng-show="!overlayActive && !menuOpen">
        <div class="small-main-logo logo-on-page img-responsive"></div>
    </div>

    <main-page-overlay></main-page-overlay>

    <!--call MapBox map-->
    <div id="map" class="map" data-ng-class="{'map-details': toggleDetails}">
        <i class="fa fa-info-circle" data-ng-click="attributionFull = !attributionFull" data-ng-class="{'atrrib-clicked': attributionFull}"></i>
        <div class="attrib" data-ng-show="attributionFull" data-ng-bind-html="attributionText"></div>
    </div>

    <div id="main-menu" class="main-menu">
        <main-menu></main-menu>
    </div>

    <div id="info" class="info" data-ng-class="{'info-project-details': toggleDetails}"></div>





</section>