<section>

    <!--<div class="col-md-7">-->
    <div>
        <div class="text-center page-header">
            <h2>Featured Projects</h2>
        </div>
        <div class="row">
            <ul class="grid cs-style-4 col-md-4 col-sm-4">
                <figure>
                    <a href="/shaw">
                        <div>
                            <img ng-src="modules/core/client/img/{{photo1}}" class="desaturate">
                        </div>
                    </a>
                    <figcaption>
                        <a href="/shaw"><span>Andrew Shaw</span></a>
                    </figcaption>
                </figure>
            </ul>


            <ul class=" grid cs-style-4 col-md-4 col-sm-4">
                <figure>
                    <a href="/westside-leadership-institute">
                        <div>
                            <img ng-src="modules/core/client/img/{{photo2}}" class="sepia">
                        </div>
                    </a>
                    <figcaption>
                        <a href="/westside-leadership-institute"><span>Westside Leadership</span></a>
                    </figcaption>
                </figure>
            </ul>

            <ul class="grid cs-style-4 col-md-4 col-sm-4">
                <figure>
                    <a href="#">
                        <div>
                            <img ng-src="modules/core/client/img/{{photo3}}" class="desaturate">
                        </div>
                    </a>
                    <figcaption>
                        <a href="/westside-leadership-institute"><span>David Williams</span></a>
                    </figcaption>
                </figure>
            </ul>
        </div>

    </div>

</section>
