<div id="sidebar" class="sidebar" ng-class="{'collapsed': !menuOpen}">
    <!--todo lookup the ng-class for 'collapsed' class to see if this is actually messing something up -->

    <!-- Main Menu Closed -->
    <ul class="sidebar-tabs" role="tablist">
        <li data-ng-click="toggleOverlayFunction('menu-closed')"><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
        <li data-ng-click="toggleOverlayFunction('menu-closed')"><a href="#profile" role="tab"><i class="fa fa-user"></i></a></li>
        <li data-ng-click="toggleOverlayFunction('menu-closed')"><a href="#messages" role="tab"><i class="fa fa-envelope"></i></a></li>
        <li data-ng-click="toggleOverlayFunction('menu-closed')"><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
        <li data-ng-click="toggleOverlayFunction('menu-closed')"><a href="#details" role="tab"></a></li>
    </ul>

    <!-- Main Menu Open -->
        <!-- Tab panes -->
    <div class="sidebar-content active" data-ng-show="menuOpen">

        <div>
            <div class="small-main-logo logo-in-menu img-responsive"></div>
        </div>

        <div class="sidebar-pane" id="home" data-ng-click="toggleOverlayFunction('menu-open')">

            <div class="morph-content">

                <div class="content-style-sidebar">
                    <ul>
                        <div class="row">
                            <li class="col-sm-12">
                                <a href="#" data-ng-click="toggleOverlayFunction('home')">
                                    <i class="fa fa-home"></i>
                                    Home
                                </a>
                            </li>
                        </div>

                        <div class="row">
                            <li class="col-sm-12">
                                <a href="/projects">
                                    <i class="fa fa-map-marker"></i>
                                    Stories
                                </a>
                            </li>
                        </div>

                        <div class="row">
                            <li class="col-sm-12">
                                <a href="#">
                                    <i class="fa fa-heart"></i>
                                    Favorites
                                </a>
                            </li>
                        </div>

                        <div class="row">
                            <li class="col-sm-12">
                                <a href="/projects/create">
                                    <i class="fa fa-file"></i>
                                    Get Involved
                                </a>
                            </li>
                        </div>

                        <div class="row">
                            <li class="col-sm-12">
                                <a href="/contributors">
                                    <i class="fa fa-users"></i>
                                    Contributors
                                </a>
                            </li>
                        </div>

                        <div class="row">
                            <li class="col-sm-12">
                                <a href="/about">
                                    <i class="fa fa-user"></i>
                                    <!--<i class="fa fa-user col-sm-2"></i>-->
                                    <!--<div class="col-sm-10">-->
                                    About Us
                                    <!--</div>-->
                                </a>
                            </li>
                        </div>

                        <div class="row">
                            <li class="col-sm-12">
                                <a href="/contact-us">
                                    <i class="fa fa-envelope"></i>
                                    <!--<i class="fa fa-envelope col-sm-2"></i>-->
                                    <!--<div class="col-sm-10">-->
                                        Contact
                                    <!--</div>-->
                                </a>
                            </li>
                        </div>

                        <div class="row" data-ng-show="isAdmin.user === 'admin'">
                            <li class="col-sm-12">
                                <a href="/admin">
                                    <i class="fa fa-star"></i>
                                    Admin Panel
                                </a>
                            </li>
                        </div>

                    </ul>
                </div>
            </div>

            <hr/>
            <div class="menu-text">
                <p>Mapping Salt Lake City is a community-created archive of Salt Lake City’s
                    neighborhoods and people that documents the city’s changes through art, critical and creative
                    literature, personal maps and multi-media projects.</p>

                <p>We invite people to engage with and evolve this site by submitting their own contributions.</p>

            </div>

            <!--<div class="social-media-button">-->
                <!--<li>-->
                    <!--<a href="https://twitter.com/mappingslc">-->
                        <!--<i class="fa fa-twitter-square"></i>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="https://www.facebook.com/MappingSaltLakeCity">-->
                        <!--<i class="fa fa-facebook-square"></i>-->
                    <!--</a>-->
                <!--</li>-->
            <!--</div>-->

        </div>


    <!--profile menu-->

        <div class="sidebar-pane" id="profile" data-ng-click="toggleOverlayFunction('menu-open')">
        </div>

    <!--messages menu-->
        <div class="sidebar-pane" id="messages" data-ng-click="toggleOverlayFunction('menu-open')">
            <h1>Categories & Filters</h1><br />

            <div id="check-awesome" class="form-group filter first-filter">
                <input type="checkbox" checked=checked name="filters" id="interviews" value="interviews">
                <label for="interviews">
                    <span class="check"></span>
                    <span class="box"></span>
                    Interviews
                </label>
            </div>

            <div id="check-awesome" class="form-group filter">
                <input type="checkbox" checked=checked name="filters" id="essays" value="essays">
                <label for="essays">
                    <span class="check"></span>
                    <span class="box"></span>
                    Essays
                </label>
            </div>

            <div id="check-awesome" class="form-group filter">
                <input type="checkbox" id="multimedia" checked="checked" name="filters" value="multimedia">
                <label for="multimedia">
                    <span class="check"></span>
                    <span class="box"></span>
                    Multimedia
                </label>
            </div>

            <div id="check-awesome" class="form-group filter">
                <input type="checkbox" id="census-data" data-ng-model="censusDataTractLayer"
                       ng-change="toggleCensusData()">
                <label for="census-data">
                    <span class="check"></span>
                    <span class="box"></span>
                    Census Data
                </label>
            </div>

            <div id="check-awesome" class="form-group filter">
                <input type="checkbox" id="google-places-data" data-ng-model="googlePlacesLayer"
                       ng-change="GooglePlacesData()">
                <label for="google-places-data">
                    <span class="check"></span>
                    <span class="box"></span>
                    Points of Interest<br/>
                </label>
            </div>

        </div>

<!--settings menu-->
        <div class="sidebar-pane" id="settings" data-ng-click="toggleOverlayFunction('menu-open')">

        </div>

<!--details menu-->
        <div class="sidebar-pane" id="details"><h1>Project Summary</h1>

            <h3>{{storyEvent.title}}</h3>

            <div class="sidebar-view-date ">
                <small>{{storyEvent.published}}</small>
            </div>
            <img data-ng-src="{{storyEvent.mainImage}}">

            <div class="sidebar-view-text-content">
                <!--<p data-ng-bind-html="storyEvent.summary"></p>-->
                <p data-ng-bind-html="trustAsHtml(storyEvent.summary)"></p>
            </div>
            <p>
                <button type="button" class="btn btn-main btn-footer-overlay grow" data-ng-click="goToProject(storyEvent.projectId)">Read More</button>
                <button type="button" class="btn btn-main btn-footer-overlay grow">Share</button>
            </p>

        </div>
    </div>

</div>
