<secondary-menu-directive></secondary-menu-directive>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }" data-ng-class="{'page-view-menu-open': toggleSecondMenu}">

    <section class="container">
        <div class="small-main-logo logo-on-page logo-second-page img-responsive"></div>

        <div class="main-content-outer">

            <div class="main-content-inner">

                {{ui-view}}
            
            </div>
        </div>
</section>
</section>