<section>
    <!--<div class="col-md-5">-->
    <div>
        <div class="text-center page-header">
            <h2>Submit your project</h2>
        </div>
        <div class="home-text">
            <p>Mapping Salt Lake City invites all interested visitors to add their voices to the mix. We are looking for all kinds of essays (written, audio, photo, video) on topics related to Salt Lake City.
            </p>
        </div>
            <div class="pull-right col-equal">
                <a href="/projects/create" id="button" class="btn btn-main btn-footer-overlay grow" role="button">Submit a story</a>
            </div>
    </div>
</section>
