.about h1, .contact h1 {
    margin: 2% 0 4% 0;
}

.about p, .contact p {
    margin: 2% 0;
    line-height: 165%;
    font-size: 1.7rem;
}

a .about {
    color: #111111;
    text-decoration: underline;
    text-decoration-color: #337ab7;
}

.about .tiles {
    margin: 15px;
    padding: 20px;
    height: auto;
    min-height: 75px;
    background-color: rgba(221, 215, 200, 0.6);
    border: solid 2px #023a31;;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
}

.about .tiles:hover {
    color: #ffffff;
    cursor:pointer;
    border:2px solid #fff;
    background: #023a31;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
}


.about .tiles div {
    margin: 15px;
    padding: 20px;
}


.about .tiles a {
    text-decoration: none;
}

.about .tiles p {
    color: #000;

}

/*body {*/
    /*overflow-x: hidden;*/
/*}*/

/*.content, .content.img {*/
    /*width: 1920px;*/
    /*background-repeat: no-repeat;*/
    /*overflow-x: hidden;*/
/*}*/
