.contact {

}

.contact p a {
    color: green;
    border-bottom: .08em solid #023a31;
    padding-bottom: .08em;
}

.contact p a:hover {
    color: green;
    border-bottom: .08em solid #023a31;
    padding-bottom: .08em;
    text-decoration: none;
}

.contact a:visited {
    color: #023a31;
    border-bottom: .08em solid lightgreen;
    padding-bottom: .08em;
}

.contact a:link {
    /*-webkit-tap-highlight-color: rgba(75, 15, 215, 0.4);*/
}
.inline div {
    font-size: 2rem;
}

.inline-text {
    padding-top: 0.5rem;
}

#feedback-page{
    text-align:center;
}

#form-main{
    width:100%;
    float:left;
    padding-top:0;
}

.contact-form #check-awesome {
    left: 6%;
    margin-bottom: 4%;
}

.contact-form #check-awesome > label > span.box {
    border: 2px solid #023a31;
}

.ng-notify-contact-success {
    background-color: #00A000;
    color: #000;
}

.ng-notify-contact-failure {
    background-color: #950B02;
    color: #ffffff;
}
