/*body > section > section > section > div > section > div > div.row > div > div*/

fieldset.contact {
    position: relative;
    left: 6%;
}

.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    max-width: 350px;
    width: calc(100% - 2em);
    vertical-align: top;
}

.input_field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-weight: bold;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input_field:focus {
    outline: none;
}

.input_label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #6a7989;
    font-weight: bold;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input_label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.icon {
    color: #ddd;
    font-size: 150%;
}

.input-secondary {
    margin: 0.75rem 0 0 1.4rem;
}

.input_field-secondary {
    width: 100%;
    background: transparent;
    padding: 1.3rem 0 0 0;
    margin-bottom: 2em;
    color: #006400;
    font-size: 1.5em;
}

textarea.input_field-secondary  {
    left: 2%;
    height: 50px;
    background: transparent;
    padding: 0.3em 0 0 0.3rem;
    margin-bottom: 2em;
    border: #023A31 solid 3px;
}

textarea.input_field-secondary::before {
    content: 'Talk to us!';
    position: absolute;
}

textarea.input_field-secondary::after {
    width: 100%;
    height: 7px;
    content: 'Talk to us!';
    position: absolute;
    left: 0;
    top: 100%;
}

textarea.input_field-secondary:active {

}

.contact-form textarea {
    width: 96%;
    height: 120px;
    padding: 1.5%;
    background-color: transparent;
    margin: 1% 0 0 1.4rem;
    border: 0.1rem solid #023A31;
    border-bottom: 1rem solid #023A31;
    color: darkgreen;
    font-size: 1.75rem;
    font-weight: 600;
    /*line-height: ;*/
    -webkit-transition: -webkit-transform 0.3s, all 1s;
    transition: transform 0.3s, all 1s;
}

.contact-form textarea.ng-valid.ng-dirty:active, .contact-form textarea.ng-valid.ng-dirty:focus {
    border-top: #78FA89;
    border-right: #78FA89;
    border-left: #78FA89;
    border-bottom: 0.25rem solid #023A31;

}

.contact-form textarea:focus, .contact-form textarea:active {
    border-bottom: none;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: -webkit-transform 0.3s, all 1s;
    transition: transform 0.3s, all 1s;
}


.input_label-secondary {
    width: 100%;
    position: absolute;
    text-align: left;
    font-size: 1em;
    padding: 10px 0 5px;
    pointer-events: none;
}

.input_label-secondary::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 7px;
    background: #023A31;
    left: 0;
    top: 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
    transition: transform 0.3s, background-color 0.3s;
}

.input_label-content-secondary {
    padding: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: -webkit-transform 0.3s, color 0.3s;
    transition: transform 0.3s, color 0.3s;
}

.input_field-secondary:focus + .input_label-secondary::after,
.input-filled .input_label-secondary::after {
    background: #006400;
    -webkit-transform: scale3d(1.25, 0.25, 1);
    transform: scale3d(1.25, 0.25, 1);
}

.input_field-secondary:focus + .input_label-secondary .input_label-content-secondary,
.input-filled .input_label-secondary .input_label-content-secondary {
    color: #023A31;
    -webkit-transform: translateY(3.0em) scale3d(0.955, 0.955, 1.5);
    transform: translateY(3.0em) scale3d(0.955, 0.955, 1.5);
}

.grow.btn-contact {
    position: relative;
    left: 2%;
    margin-top: 3%;
}

.grow.btn-contact:hover {
    background: rgba(240, 240, 240, 0.8);
    border-color: #023a31;
    color: #023a31;
    -webkit-transition: -webkit-transform 0.3s, all 0.5s;
    transition: transform 0.3s, all 0.5s;
}