.modal-open{
    /*background-color: rgba(0,0,0,0.8);*/
    /*top: 30%;*/
}

.modal-lg {
    top: 30%;
    width: 50%;
}

.modal-content {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
    /*border: solid rgba(0, 0, 0, 0.4) 12px;*/
}

/*.shadow {*/
    /*Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    /*-webkit-box-shadow: 3px 3px 5px 6px #ccc;*/
    /*Firefox 3.5 - 3.6*/
    /*-moz-box-shadow: 3px 3px 5px 6px #ccc;*/
    /*Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5*/
    /*box-shadow: 3px 3px 5px 6px #FFFFFF;*/
/*}*/

/*box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];*/

.text-center {
    /*margin-left: -5%;*/
}

.text-center.form-group {
    width: 205%;
    margin-left: -55%;
    margin-top: 5%;
}

.modal-content input[type=text], .modal-content input[type=password] {
    width: 200%;
    height: 4rem;
    margin-left: -45%;
    font-size: 2.75rem;
}

.model-content label {
    margin-left: -45%;
    font-size: 2rem;
}

.modal-dialog .modal-lg {

}