.btn-main {
    cursor:pointer;
    border:2px solid #fff;
    background-color: #023a31;
}

.btn-main:focus, .btn-main:hover {
    background-color: #023a31;
    border: 2px solid #fff;
}

.btn .btn-primary {
    background-color: #023a31;
    border-radius: 5px;
}

button a .btn .btn-primary {
    background-color: #023a31;
}

#button, div .btn:hover:not(.btn-link):not(.btn-flat):not(.btn-fab) {
    background-color: #023a31;
    width: 200px;
}

.btn .btn-primary .btn-raised {}


/*button animation*/
/* Grow */

.grow {
    display: inline-block;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition: all 0.3s ease 0s;
}

.grow:hover {
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    background: rgba(0, 0, 0, 0.5);
}

button > .grow {
    display: inline-block;
}

.btn-dark {
    background-color: rgba(0, 0, 0, 0.8);
}

/*.grow {*/
    /*display: inline-block;*/
    /*-webkit-transition-duration: 0.6s;*/
    /*transition-duration: 0.6s;*/
    /*-webkit-transition-property: -webkit-transform;*/
    /*transition-property: transform;*/
    /*-webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
    /*-webkit-transform: translateZ(0);*/
    /*-ms-transform: translateZ(0);*/
    /*transform: translateZ(0);*/
    /*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
    /*transition: all 0.3s ease 0s;*/
/*}*/

/*.grow:hover {*/
    /*-webkit-transform: scale(1.01);*/
    /*-ms-transform: scale(1.01);*/
    /*transform: scale(1.01);*/
    /*background: rgba(0, 0, 0, 0.5);*/