#slides_control .nav, #slides_control .pagination, #slides_control .carousel, #slides_control .panel-title a {
    cursor: pointer;
}

#slides_control > div{
    height: 400px;

}
#slides_control img {
    margin: auto;
    width: 600px;
}

#slides_control {
    position:absolute;
    width: 600px;
    left:50%;
    top:20px;
    margin-left:-200px;
}

#slides_control p {
    background-color: rgba (0, 0, 0, 0.8);
    color: #ffffff;
    font-size: 2rem;
}