.contrib ul {
    list-style-type: none;
}

.contrib a {
    text-decoration: none;
}

.contrib img {
    width: 6em;
    height: 6em;
}

.contrib label {
    margin: 15px 0 35px 20px;
    font-weight: normal;
}

.contrib input {

}
