@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}

.signin-icons {
  z-index: 200;
}
.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-remove-account {
  top: 10px;
  right: 10px;
  position: absolute;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: white;
  cursor: inherit;
  display: block;
}
.user-profile-picture {
  min-height: 150px;
  max-height: 150px;
}

.remove-account-container {
  display: inline-block;
  position: relative;
}
.btn-remove-account {
  top: 10px;
  right: 10px;
  position: absolute;
}

.users .open .dropdown-menu {
  background: rgba(235, 235, 235, 0.8);
  border: solid 3px #2c2c2c;
  border-radius: 5px;
  left: -50%;
}

.users .dropdown-menu > li > a {
  font-size: 2rem;
}

.users .dropdown-menu > li > a:hover, .users .dropdown-menu > li > a:focus {
  background: #023a31;
  color: #ffffff;
  border: solid 1px #ffffff;
}

.auth-form .form-group {
  margin: -5% 0 0 25%;
}

.auth-form .form-group a {
  font-size: 1.75rem;
}

.auth-form .form-group .forgot-password {
  margin: 0.5rem 0 0 0.75rem;
}

.auth-form .form-group .forgot-password a {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0.5rem;
}

.forgot-password, .auth-form .form-group a {
  color: #023A31;
}

.auth-form .form-group a, .auth-form .form-group .forgot-password, .auth-form .form-group button {

}
.auth-form .form-group a:hover, .auth-form .form-group .forgot-password:hover, .auth-form .form-group button:hover {
  transform: scale(1.2);
  transition: all 0.5s ease 0s;
  text-decoration: none;
}

.users-dropdown ul > li > a,
.users-dropdown .dropdown-menu > li > a {

}

.auth-form .fa {
  font-size: 5.5rem;
  padding: 2% 4%;
  margin: 2%;
  color: #023a31;
  border: solid 3px transparent;
}

.auth-form .fa:hover {
  transform: scale(1.2);
  transition: all 0.5s ease 0s;
  border: solid 3px #ffffff;
  background-color: #023A31;
  border-radius: 5px;
  color: #ffffff;
}

.auth-form .signup-email {
  margin-top: 5%;
  padding: 3px 0;
  border-bottom: 2px solid transparent;
  cursor: pointer;

  font-size: 2.25rem;
  color: #000;
  margin-left: 15rem;
}

.auth-form .signup-email span {
  font-size: 2.25rem;
  color: #000;
  margin-left: 15rem;
}

.auth-form .signup-email i {
  font-size: 2rem;
  margin-left: 1%;
  padding: 0;
  color: #000;
}

.auth-form .signup-email:hover {
  border-bottom: solid 2px #023A31;
  transition: all 0.5s ease 0s;
}

.sign-in-warning {
  margin: 1% 1% 2% 1%;
  padding: 3% 5%;
  border-radius: 5px;
  background-color: #FA787E;
  border: 2px solid #dc143c;
  font-size: 2.05rem;
  color: #404040;
}

.sign-in-warning a {
  color: #ffffff;
  border-bottom: 0.25rem solid crimson;
  /*border-bottom: 0 solid #DC143C;*/
  padding-bottom: 6px;
}

/*@keyframes border-slidein {*/
/*from { border-bottom-width: 0; }*/
/*to { border-bottom-width: 0.25rem; }*/
/*}*/

@keyframes border-color-change {
  /*from { border-bottom-color: #ff3296; }*/
  from { border-bottom-color: crimson; }
  to { border-bottom-color: white; }
}

/*border-slidein 0.2s 0s ease forwards,*/

.sign-in-warning a:hover {

  animation: border-color-change 0.4s 0.2s;
  text-decoration: none;
  padding-bottom: 6px;
}

.sign-in-warning .pull-right {
  padding: 0.5%;
  border-radius: 5px;
  background-color: #73373a;
  color: #ffffff;
  position: absolute;
  top: -0.5rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: 1.5rem;
}

.sign-in-warning .pull-right:hover {
  background-color: #734045;
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.05s ease 0.5s;
  -moz-transition: all 0.05s ease 0.5s;
  -ms-transition: all 0.05s ease 0.5s;
  -o-transition: all 0.05s ease 0.5s;
  transition: all 0.05s ease 0.5s;
}

/*.example2 {*/
/*transition-property: background-color, color;*/
/*transition-duration: 1s;*/
/*transition-timing-function: ease-out;*/
/*transition-delay: 2s;*/
/*}*/

/*.example1 {*/
/*transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay];*/
/*}*/
