
<div class="row no-border" data-ng-show="toggleEdit === true && toggleId === 1">
    <div class="col-xs-11 col-xs-offset-1">
        <span class="input input-secondary" data-ng-class="{'input-filled': project.street !== ''}">
            <input class="input_field input_field-secondary" type="text" id="street" data-ng-model="project.street"/>
            <label class="input_label input_label-secondary" for="street">
                <span class="input_label-content input_label-content-secondary">Street Address for Project</span>
            </label>
             <span class="pull-right">
                <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
            </span>
            <span class="pull-right">
                <button type="submit" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>
            </span>
        </span>
    </div>
</div>
<div class="row" data-ng-hide="toggleEdit === true  && toggleId === 1">
    <div class="col-xs-2">Street</div>
    <div class="col-xs-9" data-ng-bind="project.street"></div>
    <div class="col-xs-1" data-ng-click="toggleEditFn(1)"><i class="fa fa-pencil"></i></div>
</div>


<div class="row" data-ng-show="toggleEdit === true  && toggleId === 2">
    <div class="col-xs-8 col-xs-offset-1">
        <span class="input input-secondary" data-ng-class="{'input-filled': project.city!== ''}">
            <input class="input_field input_field-secondary" type="text" id="city" data-ng-model="project.city"/>
            <label class="input_label input_label-secondary" for="city">
                <span class="input_label-content input_label-content-secondary">City</span>
            </label>
            <!--<span class="pull-right">-->
                <!--<button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>-->
            <!--</span>-->
            <!--<span class="pull-right">-->
                <!--<button type="submit" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>-->
            <!--</span>-->
        </span>
    </div>
    <div class="col-xs-2 col-xs-offset-1">
        <span class="pull-right">
                <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
            </span>
            <span class="pull-right">
                <button type="submit" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>
            </span>
    </div>
</div>
<div class="row" data-ng-hide="toggleEdit === true  && toggleId === 2">
    <div class="col-xs-2">City</div>
    <div class="col-xs-9" data-ng-bind="project.city"></div>
    <div class="col-xs-1" data-ng-click="toggleEditFn(2)"><i class="fa fa-pencil"></i></div>
</div>


<div class="row" data-ng-show="toggleEdit === true  && toggleId === 3">
    <div class="col-xs-8 col-xs-offset-1">
        <span class="input input-secondary" data-ng-class="{'input-filled': project.state !== ''}">
            <input class="input_field input_field-secondary" type="text" id="state" data-ng-model="project.state"/>
            <label class="input_label input_label-secondary" for="state">
                <span class="input_label-content input_label-content-secondary">State</span>
            </label>
            <span class="pull-right">
                <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
            </span>
            <span class="pull-right">
                <button type="submit" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>
            </span>
        </span>
    </div>
</div>
<div class="row" data-ng-hide="toggleEdit === true  && toggleId === 3">
    <div class="col-xs-2">State</div>
    <div class="col-xs-9" data-ng-bind="project.state"></div>
    <div class="col-xs-1" data-ng-click="toggleEditFn(3)"><i class="fa fa-pencil"></i></div>
</div>


<div class="row" data-ng-show="toggleEdit === true  && toggleId === 4">
    <div class="col-xs-8 col-xs-offset-1">
        <span class="input input-secondary" data-ng-class="{'input-filled': project.zip !== ''}">
            <input class="input_field input_field-secondary" type="text" id="zip" data-ng-model="project.zip"/>
            <label class="input_label input_label-secondary" for="zip">
                <span class="input_label-content input_label-content-secondary">Zip</span>
            </label>
            <span class="pull-right">
                <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
            </span>
            <span class="pull-right">
                <button type="submit" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>
            </span>
        </span>
    </div>
</div>
<div class="row" data-ng-hide="toggleEdit === true  && toggleId === 4">
    <div class="col-xs-2">Zip</div>
    <div class="col-xs-9" data-ng-bind="project.zip"></div>
    <div class="col-xs-1" data-ng-click="toggleEditFn(4)"><i class="fa fa-pencil"></i></div>
</div>


<div class="row" data-ng-show="toggleEdit === true  && toggleId ===5">
    <div class="col-xs-8 col-xs-offset-1">
        <span class="input input-secondary" data-ng-class="{'input-filled': project.title !== ''}">
            <input class="input_field input_field-secondary" type="text" id="title" data-ng-model="project.title"/>
            <label class="input_label input_label-secondary" for="title">
                <span class="input_label-content input_label-content-secondary">Title of Your Project</span>
            </label>
            <span class="pull-right">
                <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
            </span>
            <span class="pull-right">
                <button type="submit" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>
            </span>
        </span>
    </div>
</div>
<div class="row" data-ng-hide="toggleEdit === true  && toggleId ===5">
    <div class="col-xs-2">Title of Your Project</div>
    <div class="col-xs-9" data-ng-bind="project.title"></div>
    <div class="col-xs-1" data-ng-click="toggleEditFn(5)"><i class="fa fa-pencil"></i></div>
</div>


<div class="row" data-ng-show="toggleEdit === true  && toggleId ===6">
    <div class="col-xs-8 col-xs-offset-1">
        <span class="input input-secondary" data-ng-class="{'input-filled': project.keywords !== ''}">
            <input class="input_field input_field-secondary" type="text" id="keywords" data-ng-model="project.keywords"/>
            <label class="input_label input_label-secondary" for="keywords">
                <span class="input_label-content input_label-content-secondary">Keywords</span>
            </label>
            <span class="pull-right">
                <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
            </span>
            <span class="pull-right">
                <button type="submit" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>
            </span>
        </span>
    </div>
</div>
<div class="row" data-ng-hide="toggleEdit === true  && toggleId ===6">
    <div class="col-xs-2">Keywords</div>
    <div class="col-xs-9" data-ng-bind="project.keywords"></div>
    <div class="col-xs-1" data-ng-click="toggleEditFn(6)"><i class="fa fa-pencil"></i></div>
</div>


<div class="row" data-ng-show="toggleEdit === true  && toggleId ===7">
    <div class="col-xs-8 col-xs-offset-1">
        <span class="input input-secondary" data-ng-class="{'input-filled': project.lat !== ''}">
            <input class="input_field input_field-secondary" type="number" id="lat" data-ng-model="project.lat"/>
            <label class="input_label input_label-secondary" for="lat">
                <span class="input_label-content input_label-content-secondary">Latitude</span>
            </label>
            <span class="pull-right">
                <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
            </span>
            <span class="pull-right">
                <button type="submit" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>
            </span>
        </span>
    </div>
</div>
<div class="row" data-ng-hide="toggleEdit === true  && toggleId === 7">
    <div class="col-xs-2">Latitude</div>
    <div class="col-xs-9" data-ng-bind="project.lat"></div>
    <div class="col-xs-1" data-ng-click="toggleEditFn(7)"><i class="fa fa-pencil"></i></div>
</div>


<div class="row" data-ng-show="toggleEdit === true  && toggleId === 8">
    <div class="col-xs-8 col-xs-offset-1">
        <span class="input input-secondary" data-ng-class="{'input-filled': project.lng !== ''}">
            <input class="input_field input_field-secondary" type="number" id="lng" data-ng-model="project.lng"/>
            <label class="input_label input_label-secondary" for="lng">
                <span class="input_label-content input_label-content-secondary">Longitude</span>
            </label>
            <span class="pull-right">
                <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
            </span>
            <span class="pull-right">
                <button type="submit" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>
            </span>
        </span>
    </div>
</div>
<div class="row" data-ng-hide="toggleEdit === true  && toggleId === 8">
    <div class="col-xs-2">Longitude</div>
    <div class="col-xs-9" data-ng-bind="project.lng"></div>
    <div class="col-xs-1" data-ng-click="toggleEditFn(8)"><i class="fa fa-pencil"></i></div>
</div>