<!-- editor hidden -->

<div class="row" data-ng-hide="toggleEdit === true  && toggleId === 14">
    <div class="col-xs-2">Project Editor</div>

        <div class="col-xs-9" data-ng-bind-html="trustAsHtml(project.story)"></div>

    <div class="col-xs-1" data-ng-click="toggleEditFn(14)"><i class="fa fa-pencil"></i></div>
</div>



<!-- editor displayed -->

<div data-ng-show="toggleEdit === true  && toggleId ===14">
    <div class="row">
        <div class="col-md-12">
            <div class="controls width">
                <textarea ckeditor="editorOptions" ng-model="story" id="story" required></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">

        <span class="pull-right">
            <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
        </span>
        <span class="pull-right">
            <button type="submit" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>
        </span>

        </div>
    </div>
</div>