<section data-ng-controller="formController">
    <div class="text-center">
        <h3>Company Info</h3>

        <div class="text">
            <input type="text" class="form-control" name="company-name" ng-model="formData.companyName" placeholder="Company Name">
        </div>

        <div class="text">
            <input type="text" class="form-control" name="company-name" ng-model="formData.companyName" placeholder="Company Name">
        </div>

        <div class="text">
            <input type="text" class="form-control" name="company-name" ng-model="formData.companyName" placeholder="Company Name">
        </div>


        <div class="col-xs-6 col-xs-offset-3">
            <a ui-sref="signupForm.page2" class="btn btn-block btn-info">
                Back<span class="glyphicon glyphicon-circle-arrow-left"></span>
            </a>
        </div>
        <button type="submit" class="btn btn-danger">Submit</button>
    </div>
</section>