.modal-open{
    /*background-color: rgba(0,0,0,0.8);*/
    /*top: 30%;*/
}

.modal-lg {
    top: 30%;
    width: 50%;
}

.modal-content {
    color: #ffffff;
    background-color: rgba(2, 58, 49, 0.6);
    border: solid rgba(255, 255, 255, 0.7) 2px;
}

.modal-body {
    background-color: rgba(2, 58, 49, 0.8);
}

.modal-footer .grow:hover {
    border-color: #03725e;
    background: rgba(0, 45, 0, 0.8);
}

.modal-footer .btn-warning:hover {
    background: rgba(45, 0, 0, 0.8);
    border-color: #ff0000;
}

.text-center.form-group {
    width: 205%;
    margin-left: -55%;
    margin-top: 5%;
}

.modal-content input[type=text], .modal-content input[type=password] {
    width: 200%;
    height: 4rem;
    margin-left: -45%;
    font-size: 2.75rem;
}

.model-content label {
    margin-left: -45%;
    font-size: 2rem;
}

.modal-dialog .modal-lg {

}