/* basic css */
div#check-awesome.form-group div input#interviews.filter [type=checkbox] {
    display: none !important;
}


div#check-awesome.form-group div label {
    padding-left: 50px !important;
    font-weight: normal !important;
    font-size: 2rem;
}

#check-awesome {
    position: relative;
}

/* checkbox css */
div#check-awesome.form-group div label {
    cursor: pointer;
}

div#check-awesome.form-group div label span {
    display: block !important;
    position: absolute !important;
    left: 0 !important;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

div#check-awesome.form-group div label .circle {
    background: #FFF !important;
    left: -30px !important;
    top: -30px !important;
    height: 80px !important;
    width: 80px !important;
    z-index: -1 !important;
    border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
}

div#check-awesome.form-group div label .box {
    border: 2px solid #000;
    height: 20px;
    width: 20px;
    z-index: 888;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

div#check-awesome.form-group div label .check {
    top: -7px;
    left: 6px;
    width: 12px;
    height: 24px;
    border: 2px solid #0f9d58;
    border-top: none;
    border-left: none;
    opacity: 0;
    z-index: 888;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

/* handling click events */

/* when checkbox is checked */
div#check-awesome.form-group div label .circle {
    -webkit-animation: growCircle 0.3s ease;
    -moz-animation: growCircle 0.3s ease;
    animation: growCircle 0.3s ease;
}

div#check-awesome.form-group div input[type=checkbox]:checked ~ label .box {
    opacity: 0;
    -webkit-transform: scale(0) rotate(-180deg);
    -moz-transform: scale(0) rotate(-180deg);
    transform: scale(0) rotate(-180deg);
}

div#check-awesome.form-group div input[type=checkbox]:checked ~ label .check {
    opacity: 1;
    -webkit-transform: scale(1) rotate(45deg);
    -moz-transform: scale(1) rotate(45deg);
    transform: scale(1) rotate(45deg);
}

/* bubble animation */

@-webkit-keyframes growCircle {
    0%, 100% {
        -webkit-transform: scale(0);
    }
    70% {
        background: #DDD;
        -webkit-transform: scale(1.25);
    }
}

@-moz-keyframes growCircle {
    0%, 100% {
        -moz-transform: scale(0);
    }
    70% {
        background: #DDD;
        -moz-transform: scale(1.25);
    }
}

@keyframes growCircle {
    0%, 100% {
        transform: scale(0);
    }
    70% {
        background: #DDD;
        transform: scale(1.25);
    }
}