.map {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    box-sizing:border-box;
    width:100%;
    height:100%;
    object-fit:contain;
}

.leaflet-control-zoom {
    top: 75px;
}

.ui-select {
    background: rgba(0, 0, 0, 0.8);
    position:absolute;
    margin-top:100px;
    right:0;
    z-index:100;
    padding:10px;
    border-radius: 10px 0 0 10px;
    color: #f5deb3;
}

.ui-select-off {
    width: 15px;
}

.ui-select-on {
    width: 150px;
}

span div input:nth-child(2) {
    margin-top: 20px;
}

.fa-chevron-left, .fa-chevron-right, {
    cursor: pointer;
}

.fa-chevron-left:hover, .fa-chevron-right:hover, .fa-chevron-left:focus, .fa-chevron-right:focus {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    background: rgba(0, 0, 0, 0.8);
}