<section data-ng-controller="CategoriesController">
    <div class="page-header">
        <h1>New Category</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input type="text" data-ng-model="title" id="title" class="form-control" placeholder="title" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <textarea ckeditor="editorOptions" data-ng-model="description" id="description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="isActive">Is Active</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="isActive" id="isActive"
                               class="form-control" placeholder="isActive" required>
                     </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>