<secondary-menu-directive></secondary-menu-directive>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }"
         data-ng-class="{'page-view-menu-open': toggleSecondMenu}">

  <section class="container">

    <div class="main-content-outer">
      <section data-ng-controller="ContactsController" class="main-content-inner">
        <div class="about">

          <div class="row">
            <div class="col-md-12">
              <div class="contact home">

                <h1>About Mapping Salt Lake City</h1>

                <p>Mapping Salt Lake City is an independent, non-profit organization made possible by grants from the <a
                  href="http://www.utah.edu/"
                  target="_blank">University
                  of Utah</a>, <a href="http://www.westminstercollege.edu/" target="_blank">Westminster
                  College</a>, the Richard Segal Foundation, and from the <a
                  href="http://www.utahhumanities.org/" target="_blank">Utah Humanities
                  Council</a>,
                  which empowers organizations like ours to improve our community through active
                  engagement in the humanities.</p>

                <p>Mapping Salt Lake City also occasionally provides teaching resources and exercises
                  involving creative mapping projects for educators in the Salt Lake City region. For
                  current examples, see our <a
                    href="index.php?option=com_k2&amp;view=item&amp;layout=item&amp;id=5&amp;Itemid=280">Resources</a>
                  page. We are also interested in meeting with small groups and classes to lead
                  creative
                  mapping workshops. For more info, <a
                    href="index.php?option=com_k2&amp;view=item&amp;layout=item&amp;id=6&amp;Itemid=281">please
                    contact us</a>.</p>

                <p>As Mapping Salt Lake City is an arts and educational resource, the photos and images
                  on
                  this site are to be used solely for that purpose. Copyright for photo use must be
                  obtained from the relevant institutions.</p>

                <div>
                  <h3>The Mapping SLC Crew</h3>
                  <a href="#">Paisley Rekdal</a> is the creator and Editor for Mapping Salt Lake
                  City.</br>
                  <a href="#">Chris Tanseer</a> serves as the Assistant Editor and Lead Web Developer
                  for
                  the
                  project.</br>
                </div>

                <div>
                  <h4>Founding Members</h4>
                  <ul>
                    <li>Chris Dunsmore</li>
                    <li>Jeff Nichols</li>
                    <li>Paisley Rekdal</li>
                    <li>Chris Tanseer</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</section>
