<secondary-menu-directive></secondary-menu-directive>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }"
         data-ng-class="{'page-view-menu-open': toggleSecondMenu}">

  <section class="container">
    <a href="/" class="small-main-logo logo-on-page logo-second-page img-responsive"></a>

    <div class="main-content-outer">
      <section data-ng-controller="ContactsController" class="main-content-inner">
        <div class="about">

          <div class="row">
            <div class="col-md-12">
              <div class="contact home">

                <h1>About Mapping Salt Lake City</h1>
                <!--<div>-->
                <!--<img src="{{staticMap.mapUrl}}">-->
                <!--</div>-->

                <!--<p>-->
                <!--{{toggleSecondMenu}}-->
                <!--</p>-->

                <p>Because a city and its history are not static but a complex network of connections,
                  environment and relationships, the purpose of Mapping Salt Lake City is to create a
                  continually evolving narrative in which community members and scholars, writers and
                  artists can be in dialogue. And because there are always absences in any record of
                  place, we rely on readers to fill in these gaps by writing and submitting their own
                  content. Over the years, as more people add their own stories, Mapping Salt Lake
                  City will change, expand and grow in the same ways that a city might, to become a more
                  inclusive reflection of our community's diverse, and diverging, perspectives.</p>

                <p>highlight some of the content categories??</p>

                <p>Mapping Salt Lake City is an independent, not-for-profit community project based on <a
                  href="http://rebeccasolnit.net/atlases/" target="_blank">Rebecca Solnit's book <em>Infinite City</em></a>,
                  which maps many of the communities and histories
                  that make up San Francisco. Initially the focus of a 2013 nonfiction writing course at
                  the University of Utah taught by Paisley Rekdal, Mapping Salt Lake City has quickly
                  become a city-wide collaboration led by professors, writers and scholars from the University
                  of Utah and Westminster College.</p>

                <p>Interested participants can <a
                  href="index.php?option=com_k2&amp;view=item&amp;layout=item&amp;id=4&amp;Itemid=279">contribute</a>
                  in a number of ways: by writing a critical, historical or personal essay or by
                  producing
                  a multi-media project about a subject relevant to Salt Lake; by creating a personal
                  city
                  map using mapping technologies such as Google Maps or Google Earth; by drawing their
                  own
                  Salt Lake City <a
                    href="index.php?option=com_k2&amp;view=item&amp;layout=item&amp;id=5&amp;Itemid=280">using
                    the map found on our site</a>; or by writing for our ongoing project, "This Was
                  Here."</p>

                <p>Our hope is for Mapping Salt Lake City to become an integral site for the community
                  to
                  visit, a place for people to enter the complex conversation about place that has
                  already
                  begun, and that continues to evolve, around Salt Lake City.</p>

                <p>We welcome you to join our community, either by assisting in the development of the
                  site,
                  or by submitting work to the project.</p>

              </div>
            </div>
          </div>

          <div class="links">
            <div class="row">

              <div class="col-md-4">
                <a href="/about-us">
                  <div class="tiles">
                  <div class="row">
                  <div><img src="#"></div>
                    <p>About Us</p>
                  </div>
                  </div>
                </a>
              </div>

              <div class="col-md-4">
                <a href="#">
                  <div class="tiles">
                  <div class="row">
                  <div><img src="#"></div>
                    <p>Get Involved</p>
                  </div>
                  </div>
                </a>
              </div>

              <div class="col-md-4">
                <a href="#">
                  <div class="tiles">
                    <div class="row">
                    <div><img src="#"></div>
                    <p>Support the Project</p>
                    </div>
                  </div>
                </a>
              </div>

            </div>
          </div>

        </div>
      </section>
    </div>
  </section>
</section>
