<secondary-menu-directive></secondary-menu-directive>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }" data-ng-class="{'page-view-menu-open': toggleSecondMenu}">

    <section class="container">
        <a href="/" class="small-main-logo logo-on-page logo-second-page img-responsive"></a>

        <div class="main-content-outer">
            <section data-ng-controller="ContactsController" class="main-content-inner">

                <div class="contact-form">

                    <div class="page-header">
                        <h1>Contact Us</h1>
                    </div>

<div class="row">
    <div class="col-md-12">
        <p>Thank you for your interest in Mapping Salt Lake City. If you have a general question or would like to get involved, please contact us with the form below.</p>

        <p>If you would like to submit a project, please review the guidelines and <a href="/project/create"> submit your information</a>.</p>

        <div class="row">
            <div class="col-md-8">

                <form class="form-horizontal" data-ng-submit="create()" novalidate>
                    <fieldset class="contact">
                        <div class="form-group">

                            <section class="content">
                                <div class="row">

                                    <!--<input type="text" data-ng-model="state" id="state" class="form-control" placeholder="State" required>-->
                                    <div class="col-md-6">
                                    <span class="input input-secondary">
                                        <input class="input_field input_field-secondary" type="text" id="firstName" data-ng-model="firstName" required/>
                                        <label class="input_label input_label-secondary" for="firstName">
                                            <span class="input_label-content input_label-content-secondary">First Name</span>
                                        </label>
                                    </span>
                                    </div>

                                    <div class="col-md-6">
                                    <span class="input input-secondary">
                                        <input class="input_field input_field-secondary" type="text" id="lastName" data-ng-model="lastName">
                                        <label class="input_label input_label-secondary" for="lastName">
                                            <span class="input_label-content input_label-content-secondary">Last Name</span>
                                        </label>
                                    </span>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-8">
                                        <span class="input input-secondary">
                                            <input class="input_field input_field-secondary" type="email" id="email" data-ng-model="email" required>
                                            <label class="input_label input_label-secondary" for="email">
                                                <span class="input_label-content input_label-content-secondary">E-Mail</span>
                                            </label>
                                        </span>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="input input-secondary">
                                            <input class="input_field input_field-secondary" type="text" id="zip" data-ng-model="zip" required>
                                            <label class="input_label input_label-secondary" for="zip">
                                                <span class="input_label-content input_label-content-secondary">Zip Code</span>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                                <!--<div class="row">-->
                                    <!--<div class="col-md-12">-->
                                        <!--<span class="input input-secondary">-->
                                            <!--<input class="input_field input_field-secondary" type="checkbox" id="newsletter" data-ng-model="newsletter">-->
                                            <!--<label class="input_label input_label-secondary" for="newsletter">-->
                                                <!--<span class="input_label-content input_label-content-secondary">Subscribe to our Quarterly Newsletter?</span>-->
                                            <!--</label>-->
                                        <!--</span>-->
                                    <!--</div>-->
                                <!--</div>-->


                                <div class="row">
                                <div class="col-md-12">

                                <div id="check-awesome" class="form-group filter first-filter">
                                    <input type="checkbox" name="filters" id="newsletter" value="newsletter">
                                    <label for="newsletter">
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        Subscribe to our quarterly e-newsletter
                                    </label>
                                </div>
                                </div>
                                </div>

                                <!--<div class="row">-->
                                    <!--<div class="col-md-12">-->
                                        <!--<label class="checkbox">-->
                                            <!--<input type="checkbox" data-ng-model="newsletter">-->
                                            <!--Subscribe to our quarterly e-newsletter.-->
                                        <!--</label>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <div class="row">
                                    <div class="col-md-12">
                                        <textarea id="message" data-ng-model="message" name="styled-textarea" required>Let us know what you think</textarea>
                                    </div>
                                </div>

                            </section>

                        </div>

                        <div class="form-group">
                            <button class="btn btn-main btn-lg grow btn-contact" type="submit">Send</button>
                        </div>

                        <div data-ng-show="error" class="text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>

                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>
                </div>
            </section>
        </div>
    </section>
</section>
