<secondary-menu-directive></secondary-menu-directive>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }" data-ng-class="{'page-view-menu-open': toggleSecondMenu}">
    <section class="container">
        <a href="/" class="small-main-logo logo-on-page logo-second-page img-responsive"></a>

        <div class="main-content-outer">
            <section data-ng-controller="ContactsController" data-ng-init="findOne()" class="main-content-inner">


                <div class="row">
                    <div class="col-xs-12 ">


                        <div class="img-responsive">
                            <a ng-href="/"><img ng-src="{{logo}}"></a>
                        </div>

                        <div class="page-header">
                            <h1 data-ng-bind="contact.title"></h1>
                        </div>

                        <small>
                            <em class="text-muted">

                                Published
                                <span data-ng-bind="contact.created | date:'mediumDate'"></span>
                                by
                                <span data-ng-bind="contact.user.firstName"></span>
                                <span data-ng-bind="contact.user.lastName"></span>
                            </em>
                        </small>

                        <div>
                            <p data-ng-bind-html="contact.message"></p>
                        </div>

                        <hr>

                        <!--edit and delete message-->
                        <div class="pull-right"
                             data-ng-show="(!authentication.admin)">
                            <a class="btn btn-primary" href="/contacts/{{contact._id}}/edit">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            <a class="btn btn-primary" data-ng-click="remove();">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </section>
</section>
