<secondary-menu-directive></secondary-menu-directive>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }"
         data-ng-class="{'page-view-menu-open': toggleSecondMenu}">

    <section class="container">

        <div class="main-content-outer">

            <section data-ng-controller="SettingsController" class="main-content-inner">

                <h3 class="col-md-12 text-center">Edit your profile</h3>

                <div class="row">

                    <div class="col-md-12">

                        <form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
                            <fieldset>
                                <div class="form-group">


                                    <div class="row"> <!-- Row #1 -->


                                        <div class="col-md-2">
                                            <span class="input input-secondary" data-ng-class="{'input-filled': user.namePrefix !== ''}">
                                                <input class="input_field input_field-secondary" type="text" id="namePrefix" data-ng-model="user.namePrefix"/>
                                                <label class="input_label input_label-secondary" for="namePrefix">
                                                    <span class="input_label-content input_label-content-secondary">Prefix</span>
                                                </label>
                                            </span>
                                        </div>

                                        <div class="col-md-5">
                                            <span class="input input-secondary" data-ng-class="{'input-filled': user.firstName !== ''}">
                                                <input class="input_field input_field-secondary" type="text" id="firstName" data-ng-model="user.firstName" />
                                                <label class="input_label input_label-secondary" for="firstName">
                                                    <span class="input_label-content input_label-content-secondary">First Name</span>
                                                </label>
                                            </span>
                                        </div>

                                        <div class="col-md-5">
                                            <span class="input input-secondary" data-ng-class="{'input-filled': user.lastName !== ''}">
                                                <input class="input_field input_field-secondary" type="text" id="lastName" data-ng-model="user.lastName" />
                                                <label class="input_label input_label-secondary" for="lastName">
                                                    <span class="input_label-content input_label-content-secondary">Last Name</span>
                                                </label>
                                            </span>
                                        </div>


                                    </div>


                                    <div class="row"> <!-- Row #2 -->

                                        <div class="col-md-6">
                                            <span class="input input-secondary" data-ng-class="{'input-filled': user.email !== ''}">
                                                <input class="input_field input_field-secondary" type="text" id="email" data-ng-model="user.email" />
                                                <label class="input_label input_label-secondary" for="email">
                                                    <span class="input_label-content input_label-content-secondary">E-mail</span>
                                                </label>
                                            </span>
                                        </div>

                                        <div class="col-md-6">
                                            <span class="input input-secondary" data-ng-class="{'input-filled': user.userTitle !== ''}">
                                                <input class="input_field input_field-secondary" type="text" id="title" data-ng-model="user.userTitle" />
                                                <label class="input_label input_label-secondary" for="title">
                                                    <span class="input_label-content input_label-content-secondary">Title</span>
                                                </label>
                                            </span>
                                        </div>

                                    </div>


                                        <div class="row">  <!-- Row #3 -->

                                            <div class="col-md-6">
                                                <span class="input input-secondary" data-ng-class="{'input-filled': user.userStreet !== ''}">
                                                    <input class="input_field input_field-secondary" type="text" id="street" data-ng-model="user.userStreet" />
                                                    <label class="input_label input_label-secondary" for="street">
                                                        <span class="input_label-content input_label-content-secondary">Street</span>
                                                    </label>
                                                </span>
                                            </div>

                                            <div class="col-md-6">
                                                <span class="input input-secondary" data-ng-class="{'input-filled': user.userCity !== ''}">
                                                    <input class="input_field input_field-secondary" type="text" id="city" data-ng-model="user.userCity" />
                                                    <label class="input_label input_label-secondary" for="city">
                                                        <span class="input_label-content input_label-content-secondary">City</span>
                                                    </label>
                                                </span>
                                            </div>

                                        </div>


                                        <div class="row">  <!-- Row #4 -->

                                            <div class="col-md-6">
                                                <span class="input input-secondary" data-ng-class="{'input-filled': user.userState !== ''}">
                                                    <input class="input_field input_field-secondary" type="text" id="state" data-ng-model="user.userState" />
                                                    <label class="input_label input_label-secondary" for="state">
                                                        <span class="input_label-content input_label-content-secondary">State</span>
                                                    </label>
                                                </span>
                                            </div>

                                            <div class="col-md-6">
                                                <span class="input input-secondary" data-ng-class="{'input-filled': user.userZip !== ''}">
                                                    <input class="input_field input_field-secondary" type="zip" id="zip" data-ng-model="user.userZip" />
                                                    <label class="input_label input_label-secondary" for="zip">
                                                        <span class="input_label-content input_label-content-secondary">Zip Code</span>
                                                    </label>
                                                </span>
                                            </div>

                                        </div>


                                    <div class="row">  <!-- Row #5 -->

                                        <div class="col-md-6">
                                            <div id="check-awesome" class="form-group filter first-filter">
                                                <input type="checkbox" name="filters" id="newsletter" value="newsletter" data-ng-model="user.newsletter">
                                                <label for="newsletter">
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    Subscribe to our quarterly e-newsletter
                                                </label>
                                            </div>
                                        </div>

                                    <!--</div>-->

                                    <!--<div class="row">  &lt;!&ndash; Row #6 &ndash;&gt;-->

                                        <div class="col-md-6">

                                            <label for="simpleColorSel">User Authentication:</label>
                                            <select id="simpleColorSel" data-ng-model="user.roles">
                                                <option value="blocked">Blocked</option>
                                                <option value="Unregistered">Unregistered</option>
                                                <option value="registered">Registered</option>
                                                <option value="contributor">Contributor</option>
                                                <option value="'admin'">Administrator</option>
                                                <option value="superUser">Super User</option>
                                            </select>
                                            <br />
                                            <strong>Selected color:</strong> {{user.roles}}<br />
                                            <strong>Possible roles:</strong> {{(UserSchema.schema.path('roles').enumValues)}}<br />
                                            <strong>Possible roles:</strong> {{(UserSchema.roles.type[1])}}<br />
                                            <strong>Possible roles:</strong> {{(users.schema.path('roles').enumValues)}}<br />
                                            <strong>Possible roles:</strong> {{(user.schema.path('roles').enumValues)}}


                                            </div>

                                    </div>


                                    <!--<div class="form-group pull-right">-->
                                    <!--<input type="submit" class="btn btn-primary btn-lg btn-main grow">-->
                                    <!--</div>-->
                                    <!-- -->
                                    <!--<div data-ng-show="error" class="text-danger">-->
                                    <!--<strong data-ng-bind="error"></strong>-->
                                    <!--</div>-->

                                    <div class="text-center form-group">
                                        <button type="submit" class="btn btn-main btn-lg grow btn-contact">Save Profile</button>
                                    </div>
                                    <div data-ng-show="success" class="text-center text-success">
                                        <strong>Profile Saved Successfully</strong>
                                    </div>
                                    <div data-ng-show="error" class="text-center text-danger">
                                        <strong data-ng-bind="error"></strong>
                                    </div>


                                </div>  <!-- END OF FORM GROUP -->

                            </fieldset>
                        </form>
                    </div>
                </div>
            </section>

        </div>
    </section>
</section>