<secondary-menu-directive></secondary-menu-directive>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }" data-ng-class="{'page-view-menu-open': toggleSecondMenu}">

    <section class="container">
        <a href="/" class="small-main-logo logo-on-page logo-second-page img-responsive"></a>

        <!--<div class="file-upload">-->

            <div class="main-content-outer">

                <section data-ng-controller="FileUploadController" class="main-content-inner">

                    <div class="page-header">
                        <h1>File Upload</h1>
                    </div>


                </section>
            </div>

    </section>
</section>
