<section data-ng-controller="MapsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Maps</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="map in maps" data-ng-href="#!/maps/{{map._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="map.created | date:'medium'"></span>
				by
				<span data-ng-bind="map.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="map.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!maps.$resolved || maps.length">
    	No Maps yet, why don't you <a href="/#!/maps/create">create one</a>?
    </div>
</section>