<secondary-menu-directive></secondary-menu-directive>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }"
         data-ng-class="{'page-view-menu-open': toggleSecondMenu}">
    <section class="container">

        <section data-ng-controller="GalleryController">
            <div class="main-content-outer">
                <div class="contrib">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-content-inner">

                            <h1>Authors & Contributors</h1>

                            secondMenuOpened: <strong>{{secondMenuOpened}}</strong><br/>
                            toggleSecondMenu: <strong>{{toggleSecondMenu}}</strong>
                            <aside>
                                <h4>Submission Details</h4>
                                <h4>Interested in Getting Involved?</h4>
                            </aside>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="grid-gallery" class="grid-gallery">
                                        <section class="grid-wrap">
                                            <ul class="grid">
                                                <li class="grid-sizer"></li>
                                                <!-- for Masonry column width -->
                                                <li>
                                                    <figure>
                                                        <img data-ng-src="{{slides[0]['image']}}" alt="img01"/>
                                                        <figcaption><h3>Letterpress asymmetrical</h3>

                                                            <p>Chillwave hoodie ea gentrify aute sriracha consequat.</p>
                                                        </figcaption>
                                                    </figure>
                                                </li>
                                                <li>
                                                    <figure>
                                                        <img data-ng-src="{{slides[1]['image']}}" alt="img02"/>
                                                        <figcaption><h3>Vice velit chia</h3>

                                                            <p>Laborum tattooed iPhone, Schlitz irure nulla Tonx retro
                                                                90's
                                                                chia cardigan quis asymmetrical paleo. </p></figcaption>
                                                    </figure>
                                                </li>
                                                <li>
                                                    <figure>
                                                        <img data-ng-src="{{slides[2]['image']}}" alt="img03"/>
                                                        <figcaption><h3>Brunch semiotics</h3>

                                                            <p>Ex disrupt cray yr, butcher pour-over magna umami kitsch
                                                                before they sold out commodo.</p></figcaption>
                                                    </figure>
                                                </li>
                                                <li>
                                                    <figure>
                                                        <img data-ng-src="{{slides[3]['image']}}" alt="img04"/>
                                                        <figcaption><h3>Chillwave nihil occupy</h3>

                                                            <p>In post-ironic gluten-free deserunt, PBR&B non pork belly
                                                                cupidatat polaroid. </p></figcaption>
                                                    </figure>
                                                </li>
                                            </ul>
                                        </section>


                                        <!-- // grid-wrap -->
                                        <section class="slideshow">
                                            <ul>
                                                <li>
                                                    <figure>
                                                        <figcaption>
                                                            <h3>Letterpress asymmetrical</h3>

                                                            <p>Kale chips lomo biodiesel stumptown Godard Tumblr,
                                                                mustache
                                                                sriracha tattooed cray aute slow-carb placeat delectus.
                                                                Letterpress asymmetrical fanny pack art party est
                                                                pour-over
                                                                skateboard anim quis, ullamco craft beer.</p>
                                                        </figcaption>
                                                        <img data-ng-src="{{slides[0]['image']}}" alt="img01"/>
                                                    </figure>
                                                </li>
                                                <li>
                                                    <figure>
                                                        <figcaption>
                                                            <h3>Vice velit chia</h3>

                                                            <p>Chillwave Echo Park Etsy organic Cosby sweater seitan
                                                                authentic pour-over. Occupy wolf selvage bespoke
                                                                tattooed,
                                                                cred sustainable Odd Future hashtag butcher.</p>
                                                        </figcaption>
                                                        <img data-ng-src="{{slides[1]['image']}}" alt="img02"/>
                                                    </figure>
                                                </li>
                                                <li>
                                                    <figure>
                                                        <figcaption>
                                                            <h3>Brunch semiotics</h3>

                                                            <p>IPhone PBR polaroid before they sold out meh you probably
                                                                haven't heard of them leggings tattooed tote bag,
                                                                butcher
                                                                paleo next level single-origin coffee photo booth.</p>
                                                        </figcaption>
                                                        <img data-ng-src="{{slides[2]['image']}}" alt="img03"/>
                                                    </figure>
                                                </li>
                                                <li>
                                                    <figure>
                                                        <figcaption>
                                                            <h3>Chillwave nihil occupy</h3>

                                                            <p>Vice cliche locavore mumblecore vegan wayfarers
                                                                asymmetrical
                                                                letterpress hoodie mustache. Shabby chic lomo polaroid,
                                                                scenester 8-bit Portland Pitchfork VHS tote bag.</p>
                                                        </figcaption>
                                                        <img data-ng-src="{{slides[3]['image']}}" alt="img04"/>
                                                    </figure>
                                                </li>
                                            </ul>

                                            <!--control the slider with keyboard-->
                                            <nav>
                                                <span class="icon nav-prev"></span>
                                                <span class="icon nav-next"></span>
                                                <span class="icon nav-close"></span>
                                            </nav>
                                            <div class="info-keys">Navigate with arrow keys</div>
                                        </section>
                                        <!-- // slideshow -->
                                    </div>
                                    <!-- // grid-gallery -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
    </section>
</section>
