<secondary-menu-directive></secondary-menu-directive>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }"
         data-ng-class="{'page-view-menu-open': toggleSecondMenu}">

    <section class="container">
        <a href="/" class="small-main-logo logo-on-page logo-second-page img-responsive"></a>

        <div class="main-content-outer">
            <!--<section data-ng-controller="SettingsController" data-ng-init="find()" class="main-content-inner">-->
            <section data-ng-controller="UserController" data-ng-init="init()" class="main-content-inner">

                <div class="admin">

                    <div class="admin-user">

                        <a href="/admin"><span><i class="fa fa-chevron-left"></i></span></a>

                        <div class="page-header">
                            <h1>List of Users</h1>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <a data-ng-repeat="user in users" data-ng-href="/users/{{user._id}}" class="col-md-4">
                                    <div class="user-summary" data-ng-bind="user.displayName">{{user._id}}</div>
                                </a>
                            </div>
                        </div>

                    </div>

                    <div class="container">
                        <div class="gridStyle" data-ng-grid="gridOptions"></div>
                    </div>

                </div>
            </section>
        </div>
    </section>
</section>
