<secondary-menu-directive></secondary-menu-directive>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }" data-ng-class="{'page-view-menu-open': toggleSecondMenu}">

    <section class="container">
        <a href="/" class="small-main-logo logo-on-page logo-second-page img-responsive"></a>

        <div class="main-content-outer">

            <section data-ng-controller="EditProfileController" data-ng-init="findOne()" class="main-content-inner">

                <div class="admin">

                    <div class="admin-user">

                        <a href="/admin"><span><i class="fa fa-chevron-left"></i></span></a>

                        <div class="page-header">
                            <h1>{{userToEdit.firstName}} {{userToEdit.lastName}}'s Profile
                                <a href="#" data-ng-show="userToEdit.profileImageURL"><span><img data-ng-src="{{userToEdit.profileImageURL}}" class="header-profile-image pull-right"/></span>
                                </a>

                                <a href="#" data-ng-show="!userToEdit.profileImageURL"><span><img data-ng-src="" class="header-profile-image pull-right"/></span>Upload a Pic
                                </a>
                            </h1>
                        </div>

                        <div class="row user-profile">
                            <div class="col-xs-12">
                                  <user-view-form></user-view-form>
                            </div>
                        </div>

                        <hr>

                        <div class="pull-right">
                            <!--data-ng-show="((authentication.user) && (authentication.user._id == project.user._id))">-->
                            <!--<a class="btn btn-primary" href="/users/{{user._id}}/edit">-->
                            <!--<i class="glyphicon glyphicon-edit"></i>-->
                            <!--</a>-->
                            <a class="btn btn-main grow btn-warning" data-ng-click="remove();">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </section>
</section>
