<!--<section class="featured">-->
<section>

    <!--<div class="col-md-7">-->
    <div>
        <div class="text-center page-header">
            <h2>Featured Projects</h2>
        </div>
        <div class="row">
            <ul class="grid cs-style-4 col-md-4 col-sm-4">
                <figure>
                    <div><img ng-src="modules/core/img/{{photo1}}" class="desaturate"></div>
                    <figcaption>
                        <a href="/#!/shaw"><span>Andrew Shaw</span></a>
                    </figcaption>
                </figure>
            </ul>


            <ul class=" grid cs-style-4 col-md-4 col-sm-4">
                <figure>
                    <div><img ng-src="modules/core/img/{{photo2}}" class="sepia"></div>
                    <figcaption>
                        <a href="/#!/westside-leadership-institute"><span>Westside Leadership</span></a>
                    </figcaption>
                </figure>

            </ul>

            <ul class="grid cs-style-4 col-md-4 col-sm-4">
                <figure>
                    <div><img ng-src="modules/core/img/{{photo3}}" class="desaturate"></div>
                    <figcaption>
                        <a href="/#!/westside-leadership-institute"><span>David Williams</span></a>
                    </figcaption>
                </figure>

            </ul>
        </div>

    </div>

</section>