<!--<div class="file-upload">-->
<!--<div class="main-content-outer">-->

    <!--<section data-ng-controller="FileUploadController" class="main-content-inner">-->
        <!--<div class="page-header">-->
            <!--<h1>File Upload</h1>-->
        <!--</div>-->



        <!--<div class="file-upload-inner">-->

    <!--<div ngf-drop ngf-select ng-model="files" class="drop-box" ngf-drag-over-class="dragover" ngf-allow-dir="true" accept="image/*">-->
        <!--Drag images here or click to upload-->
    <!--</div>-->

    <!--<div ngf-no-file-drop>-->
        <!--File Drag/Drop is not supported for this browser-->
    <!--</div>-->

    <!--<button ng-click="uploadFile(files)" class="btn btn-main grow">Upload</button>-->

    <!--<img ng-src="{{imgSrc}}"/>-->
    <!--<br/><br/>-->
    <!--<img ngf-src="{{files}}" ngf-accept="'.png,.jpg'" ngf-min-size='100' ngf-max-size='30000' >-->




<!--<hr/>-->


<!--<div>-->

    <!--<input type="text" ng-model="username"></br></br>-->

    <!--<input type="checkbox" ng-model="multiple">upload multiple file</br></br>-->


    <!--watching model:-->
    <!--<div class="btn btn-main grow" ngf-select ng-model="files" ngf-multiple="multiple">Select File</div>-->
    <!--on file change:-->
    <!--<div class="btn btn-main grow" ngf-select ngf-change="upload($files)" ngf-multiple="multiple">Select File</div>-->
    <!--Drop File:-->
    <!--<div ngf-drop ngf-select ng-model="files" class="drop-box" ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true" accept="image/*,application/pdf">-->
        <!--Drop pdfs or images here or click to upload-->
    <!--</div>-->
    <!--<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>-->
    <!--Files:-->
    <!--<ul>-->
        <!--<li ng-repeat="f in files" style="font:smaller">{{f.name}}</li>-->
    <!--</ul>-->
    <!--Upload Log:-->
    <!--<pre>{{log}}</pre>-->
<!--</div>-->


<!--<hr/>-->


<!--watching model:-->
<!--<div class="btn btn-main grow" ngf-select ng-model="files">Upload using model $watch</div>-->
<!--<div class="btn btn-main grow" ngf-select ngf-change="upload($files)">Upload on file change</div>-->
<!--Drop File:-->
<!--<div ngf-drop ng-model="files" class="drop-box"-->
     <!--ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"-->
     <!--ngf-accept="'image/*,application/pdf'">Drop Images or PDFs files here-->
<!--</div>-->
<!--<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>-->

<!--Image thumbnail: <img ngf-src="files[0]" ngf-default-src="'/thumb.jpg'" ngf-accept="'image/*'">-->
<!--Audio preview:-->
<!--<audio controls ngf-src="files[0]" ngf-accept="'audio/*'"></audio>-->
<!--Video preview:-->
<!--<video controls ngf-src="files[0]" ngf-accept="'video/*'"></video>-->


<!--</div>-->



    <!--</section>-->
<!--</div>-->
<!--</div>-->