<section>

    <div class="footer-overlay" ng-class="{'footer-overlay-active': animateFooterOverlayCheck}">

        <div class="container" data-ng-show="mainMenuModalToggle">

                <div class="row body">

                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="http://www.utahhumanities.org/" target="_blank">
                                    <img src="/modules/core/img/brand/uhc.png" class="img-responsive"
                                         alt="Responsive image"/>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="http://www.utah.edu/" target="_blank">
                                    <img src="/modules/core/img/brand/uofu.png" class="img-responsive"
                                         alt="Responsive image"/>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="http://www.westminstercollege.edu/" target="_blank">
                                    <img src="/modules/core/img/brand/westminster.png" class="img-responsive"
                                         alt="Responsive image"/>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="http://www.westminstercollege.edu/" target="_blank">
                                    <img src="/modules/core/img/brand/isomer_sq_plus_name.png" class="img-responsive"
                                         alt="Responsive image"/>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7">

                        <form action="http://enternewurihere" method="post" autocomplete="on">

                            <div class="form">
                                <input name="subscribe-email"placeholder="Newsletter: Enter your E-mail" required="" type="email" ng-model="text" style="color:{{text}}" Hi/>
                                <!--<input name="subscribe-email"placeholder="Newsletter: Enter your E-mail" required="" type="email" ng-model="red" style="color:{{color}}"/>-->
                                <button class="btn btn-main btn-footer-overlay grow" type="submit">Subscribe</button>
                                <!--<input type="text" ng-model="yes" placeholder="Enter a color" />-->
                            </div>

                        </form>

                    </div>

                </div>

        </div>
    </div>
</section>