<div id="sidebar" class="sidebar collapsed">

    <!-- Tab panes -->
    <div class="sidebar-content active">
        <!--<div class="sidebar-pane" id="home" data-ng-click="toggleOverlayFunction('menu-active')">-->
        <div class="sidebar-pane" id="home">

            <div class="morph-content">
                <div class="content-style-sidebar">
                    <ul>
                        <div class="row">
                            <li class="col-sm-12">
                                <a href="#" data-ng-click="toggleOverlayFunction('home')" ng-class="{'': !menuActive}">
                                    <i class="fa fa-home"></i>
                                    Home
                                </a>
                            </li>
                        </div>

                        <div class="row">
                            <li class="col-sm-12">
                                <a href="/#!/projects">
                                    <i class="fa fa-map-marker"></i>
                                    Stories
                                </a>
                            </li>
                        </div>

                        <div class="row">
                            <li class="col-sm-12">
                                <a href="#">
                                    <i class="fa fa-heart"></i>
                                    Favorites
                                </a>
                            </li>
                        </div>

                        <div class="row">
                            <li class="col-sm-12">
                                <a href="/#!/projects/create">
                                    <i class="fa fa-file"></i>
                                    Get Involved
                                </a>
                            </li>
                        </div>

                        <div class="row">
                            <li class="col-sm-12">
                                <a href="/#!/about">
                                    <i class="fa fa-users"></i>
                                    About Us
                                </a>
                            </li>
                        </div>

                        <div class="row">
                            <li class="col-sm-12">
                                <a href="/#!/contact-us">
                                    <i class="fa fa-envelope"></i>
                                    Contact
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>


            <hr/>
            <div class="menu-text">
                <p>Mapping Salt Lake City is a community-created archive of Salt Lake City’s
                    neighborhoods and people that documents the city’s changes through art, critical and creative
                    literature, personal maps and multi-media projects.</p>

                <p>We invite people to engage with and evolve this site by submitting their own contributions.</p>

                <p>{{overlayActive}}</p>
            </div>

            <div class="social-media-button">
                <li>
                    <a href="https://twitter.com/mappingslc">
                        <i class="fa fa-twitter-square"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/MappingSaltLakeCity">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                </li>
            </div>

        </div>

        <!--profile menu-->
        <!--<div class="sidebar-pane" id="profile" data-ng-click="toggleOverlayFunction('menu-active')">-->
        <div class="sidebar-pane" id="profile">
        </div>

        <!--<div class="sidebar-pane" id="messages" data-ng-click="toggleOverlayFunction('menu-active')">-->
        <div class="sidebar-pane" id="messages">
            <h1>Messages</h1>

            <div id="check-awesome" class="form-group filter first-filter">
                <input type="checkbox" checked=checked name="filters" id="interviews" value="interviews">
                <label for="interviews">
                    <span class="check"></span>
                    <span class="box"></span>
                    Interviews
                </label>
            </div>

            <div id="check-awesome" class="form-group filter">
                <input type="checkbox" checked=checked name="filters" id="essays" value="essays">
                <label for="essays">
                    <span class="check"></span>
                    <span class="box"></span>
                    Essays
                </label>
            </div>

            <div id="check-awesome" class="form-group filter">
                <input type="checkbox" id="multimedia" checked="checked" name="filters" value="multimedia">
                <label for="multimedia">
                    <span class="check"></span>
                    <span class="box"></span>
                    Multimedia
                </label>
            </div>

            <div id="check-awesome" class="form-group filter">
                <input type="checkbox" id="census-data" data-ng-model="censusDataTractLayer"
                       ng-change="toggleCensusData()">
                <label for="census-data">
                    <span class="check"></span>
                    <span class="box"></span>
                    Census Data
                </label>
            </div>

            <div id="check-awesome" class="form-group filter">
                <input type="checkbox" id="google-places-data" data-ng-model="googlePlacesLayer"
                       ng-change="GooglePlacesData()">
                <label for="google-places-data">
                    <span class="check"></span>
                    <span class="box"></span>
                    Points of Interest<br/>
                </label>
            </div>

        </div>

        <!--settings menu-->
        <!--<div class="sidebar-pane" id="settings" data-ng-click="toggleOverlayFunction('menu-active')">-->
        <div class="sidebar-pane" id="settings">
            <h1>Project Overview</h1>

            <div class="sidebar-view-date ">
                <small>June 22, 2014</small>
            </div>
            <h3>Sample Title: The Legend of the Espresso at the Little Dell Reservoir!</h3>
            <img src="http://lorempixel.com/g/400/200/">

            <div class="sidebar-view-text-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum error et hic minus vero?
                    Cupiditate
                    error, in nostrum perferendis reiciendis repellat sapiente voluptas voluptate. Dignissimos natus
                    numquam obcaecati porro sequi!
                </p>
            </div>
            <p>
                <button type="button" class="btn btn-primary btn-lg">Read More</button>
                <button type="button" class="btn btn-default btn-lg">Share</button>
            </p>

        </div>

        <div class="sidebar-pane" id="details"><h1>Details</h1>
        </div>
    </div>


    <!-- Nav tabs -->
    <ul class="sidebar-tabs" role="tablist">
        <li data-ng-click="triggerMenu(); toggleOverlayFunction('menu-closed')"><a href="#home" role="tab"><i
                class="fa fa-bars"></i></a></li>
        <li data-ng-click="triggerMenu()"><a href="#profile" role="tab"><i class="fa fa-user"></i></a></li>
        <li data-ng-click="triggerMenu()"><a href="#messages" role="tab"><i class="fa fa-envelope"></i></a></li>
        <li data-ng-click="triggerMenu()"><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
        <li data-ng-click="triggerMenu()"><a href="#details" role="tab"></a></li>
    </ul>

</div>