<!--
***
***  THIS IS THE MENU SIDEBAR FOR ALL PAGES EXCEPT THE HOME PAGE
***
-->

<!--this icon will be displayed when the menu is closed-->
<strong data-ng-show="!toggleSecondMenu" data-ng-click="toggleSecondMenu=!toggleSecondMenu">
    <span>
        <i class="menu-icon menu-closed-icon glyphicon glyphicon-align-justify"></i>
    </span>
</strong>


<!--this is the icon that will be displayed in the menu is open-->
<section data-ng-show="toggleSecondMenu"
         data-ng-class="{'menu-top-level': toggleSecondMenu, 'menu-top-level-closed': !toggleSecondMenu}">

    <div data-ng-click="toggleSecondMenu=!toggleSecondMenu"> <!--toggle icon for secondary menu, BEGIN-->
        <strong>
            <span>
                <i class="menu-icon menu-open-icon glyphicon glyphicon-align-justify"></i>
            </span>
        </strong>
    </div>
    <!--toggle icon for secondary menu, END-->


    <div class="menu-body">
        <ul>
            <a href="/#!/home">
                <div class="row">
                    <li class="col-md-12">
                        <i class="glyphicon glyphicon-home"></i>
                        Home
                    </li>
                </div>
            </a>

            <a href="/#!/projects">
                <div class="row">
                    <li class="col-md-12">
                        <i class="glyphicon glyphicon-th"></i>
                        Projects
                    </li>
                </div>
            </a>

            <a href="/#!/projects/create">
                <div class="row">
                    <li class="col-md-12">
                        <i class="glyphicon glyphicon-time"></i>
                        Submit
                    </li>
                </div>
            </a>

            <a href="#">
                <div class="row">
                    <li class="col-md-12">
                        <i class="glyphicon glyphicon-user"></i>
                        About Us
                    </li>
                </div>
            </a>

            <a href="#">
                <div class="row">
                    <li class="col-md-12">
                        <i class="glyphicon glyphicon-map-marker"></i>
                        Contact
                    </li>
                </div>
            </a>

            <a href="/#!/projects" data-ng-show="authentication.user">
                <div class="row">
                    <li class="col-md-12">
                        <i class="fa fa-heart"></i>
                        Favorites
                    </li>
                </div>
            </a>


            <ul class="row" data-ng-show="authentication.user">
                <div class="col-md-12">
                    <li class="dropdown" dropdown>

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle>

                            <i class="fa fa-user"></i>
                            Account
                        </a>

                        <ul class="dropdown-menu">
                            <li ui-route="/signup">
                                <a href="/#!/signup">Sign Up</a>
                            </li>
                            <li ui-route="/signin" ng-class="{active: $uiRoute}">
                                <a href="/#!/signin">Sign In</a>
                            </li>
                        </ul>

                    </li>
                </div>
            </ul>


        </ul>


        <hr/>

        <div class="row">
            <div class="col-md-12">
                <p>Mapping Salt Lake City is a community-created archive of Salt Lake City’s
                    neighborhoods and people that documents the city’s changes through art, critical and creative
                    literature, personal maps and multi-media projects.</p>

                <p>We invite people to engage with and evolve this site by submitting their own contributions.</p>
            </div>
        </div>
        <ul>
            <div class="row">
                <div class="social-media-button">
                    <li class="col-md-6">
                        <a href="https://twitter.com/mappingslc">
                            <i class="fa fa-twitter-square"></i>
                            Twitter
                        </a>
                    </li>
                    <li class="col-md-6">
                        <a href="https://www.facebook.com/MappingSaltLakeCity">
                            <i class="fa fa-facebook-square"></i>
                            Facebook
                        </a>
                    </li>
                </div>
            </div>
        </ul>
    </div>
</section>
