<section>

    <div>  <!-- signin  signout functionality -->

        <ul class="pull-right" data-ng-hide="authentication.user">
            <li class="dropdown" dropdown>
                <button class="btn btn-dark">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle>
                    <span class="fa fa-sign-in hvr-icon-forward"> Sign In</span></a>
                </button>

                <ul class="dropdown-menu">
                    <li ui-route="/signin" ng-class="{active: $uiRoute}">
                        <a href="/#!/signin">Sign In</a>
                    </li>
                    <!--<li class="divider-vertical"></li>-->
                    <li ui-route="/signup" ng-class="{active: $uiRoute}">
                        <a href="/#!/signup">Sign Up</a>
                    </li>
                </ul>

            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
            <li class="dropdown" dropdown>
                <!--<button class="btn btn-dark">-->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle>
                        <!--<img data-ng-src="{{profilePic}}" alt="{{authentication.user.displayName}}" class="header-profile-image"/>-->
                        <img src="../../../core/img/chris--bw-2.jpg"/>
                        <span data-ng-bind="authentication.user.firstName"></span> <b class="caret"></b>
                    </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/#!/settings/profile">Edit Profile</a>
                    </li>
                    <li>
                        <a href="/#!/settings/accounts">Manage Social Accounts</a>
                    </li>
                    <li data-ng-show="authentication.user.provider === 'local'">
                        <a href="/#!/settings/password">Change Password</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/auth/signout">Signout</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</section>