<section>
<div class="col-md-5 pull-left">
    <div class="text-center page-header">
        <h2>Submit your project</h2>
    </div>
    <p class="home-text">Mapping Salt Lake City invites all interested visitors to add their voices to the mix. We are looking for all kinds of essays (written, audio, photo, video) on topics related to Salt Lake City.</p>
    <a href="/#!/projects/create" class="btn btn-primary btn-lg btn-main grow pull-right" role="button">Submit a
        story</a>
</div>
</section>