<section>
    <div class="col-md-5">
        <div class="text-center page-header">
            <h2>Submit your project</h2>
        </div>
        <p class="home-text">Mapping Salt Lake City invites all interested visitors to add their voices to the mix. We
            are looking for all kinds of essays (written, audio, photo, video) on topics related to Salt Lake City.</p>

            <div class="pull-right">
                <!--<a href="/#!/projects/create" id="button" class="btn btn-primary btn-raised" role="button">Submit a-->
                <!--<button><i class=""></i><a href="/#!/projects/create" id="button" class="btn btn-primary btn-raised" role="button">Submit a story</a></button>-->
                <button class="btn btn-primary btn-raised"><a href="/#!/projects/create" role="button">Submit a story</a></button>

            </div>
    </div>
</section>