.about h1, .contact h1 {
    margin: 2% 0 4% 0;
}

.about p, .contact p {
    margin: 2% 0;
    line-height: 165%;
    font-size: 1.7rem;
}

a .about {
    color: #111111;
    text-decoration: underline;
    text-decoration-color: #337ab7;
}

/*body {*/
    /*overflow-x: hidden;*/
/*}*/

/*.content, .content.img {*/
    /*width: 1920px;*/
    /*background-repeat: no-repeat;*/
    /*overflow-x: hidden;*/
/*}*/