<secondary-menu-directive></secondary-menu-directive>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }" data-ng-class="{'page-view-menu-open': toggleSecondMenu}">

    <section class="container">
        <a href="/" class="small-main-logo logo-on-page logo-second-page img-responsive"></a>

        <div class="main-content-outer">

            <section data-ng-controller="ProjectsController" data-ng-init="find()" class="main-content-inner">

                <div class="admin">

                    <div class="admin-projects">

                        <a href="/admin"><span><i class="fa fa-chevron-left"></i></span></a>

                        <div class="page-header">
                            <h1>Admin Panel</h1>
                        </div>

                        <div class="row">
                            <a data-ng-repeat="project in projects" data-ng-href="/projects/{{project._id}}" class="col-md-12 admin-list">
                                <small>
                                    Posted on
                                    <span data-ng-bind="project.created | date:'medium'"></span>
                                    by
                                    <span data-ng-bind="project.user.displayName"></span>
                                </small>
                                <h4 class="list-group-item-heading" data-ng-bind="project.name"></h4>
                            </a>
                        </div>

                        <div class="alert alert-warning text-center" data-ng-hide="!projects.$resolved || projects.length">
                            No projects are currently waiting for approval. Check <a href="#">blah blah</a> for blah blah.
                        </div>

                    </div>
                </div>

            </section>
        </div>
    </section>
</section>
