<secondary-menu-directive></secondary-menu-directive>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }"
         data-ng-class="{'page-view-menu-open': toggleSecondMenu}">

    <section class="container">
        
        <div class="main-content-outer">
            <section data-ng-controller="ProjectsController" class="main-content-inner">

                <div class="page-header">
                    <h1>Project Submission Form</h1>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <form class="form-horizontal" data-ng-submit="create()" novalidate>
                            <fieldset>
                                <div class="form-group">


                                    <div class="row">

                                        <div class="col-md-6">
                                            <span class="input input-secondary">
                                                <input class="input_field input_field-secondary" type="text" id="street" data-ng-model="street" required/>
                                                <label class="input_label input_label-secondary" for="street">
                                                    <span class="input_label-content input_label-content-secondary">Street</span>
                                                </label>
                                            </span>
                                        </div>

                                        <div class="col-md-6">
                                            <span class="input input-secondary">
                                                <input class="input_field input_field-secondary" type="text" id="city" data-ng-model="city" required/>
                                                <label class="input_label input_label-secondary" for="city">
                                                    <span class="input_label-content input_label-content-secondary">City</span>
                                                </label>
                                            </span>
                                        </div>

                                    </div>


                                    <div class="row">

                                        <div class="col-md-6">
                                    <span class="input input-secondary">
                                        <input class="input_field input_field-secondary" type="text" id="state" data-ng-model="state" required/>
                                        <label class="input_label input_label-secondary" for="state">
                                            <span class="input_label-content input_label-content-secondary">State</span>
                                        </label>
                                    </span>
                                        </div>

                                        <div class="col-md-6">

                                    <span class="input input-secondary">
                                        <input class="input_field input_field-secondary" type="zip" id="zip" data-ng-model="zip" required/>
                                        <label class="input_label input_label-secondary" for="zip">
                                            <span class="input_label-content input_label-content-secondary">Zip Code</span>
                                        </label>
                                    </span>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-md-6">
                                    <span class="input input-secondary">
                                        <input class="input_field input_field-secondary" type="text" id="title" data-ng-model="title" required/>
                                        <label class="input_label input_label-secondary" for="street">
                                            <span class="input_label-content input_label-content-secondary">Title</span>
                                        </label>
                                    </span>
                                            </div>
                                            </div>

                                    <div class="controls width">
                                        <textarea ckeditor="editorOptions" ng-model="story" id="story" required></textarea>
                                    </div>

                                </div>

                                <div class="form-group pull-right">
                                    <input type="submit" class="btn btn-primary btn-lg btn-main grow">
                                </div>

                                <div data-ng-show="error" class="text-danger">
                                    <strong data-ng-bind="error"></strong>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </section>
</section>