<section class="create-project">

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div id="form-container">

                <div class="page-header text-center">
                    <h2>Mapping Salt Lake City</h2>
                    <p>Thanks for your dedication to the community.</p>
                    </br>

                    <!-- the links to our nested states using relative paths -->
                    <!-- add the active class if the state matches our ui-sref -->
                    <div id="status-buttons" class="text-center">
                        <a ui-sref-active="active" ui-sref=".1"><span>1</span> The Basics</a>
                        <a ui-sref-active="active" ui-sref=".2"><span>2</span> Some Details</a>
                        <a ui-sref-active="active" ui-sref=".3"><span>3</span> Your Project</a>
                    </div>

                </div>

                <form id="signup-form" data-ng-submit="create()">
                    <!-- nested state views will be injected here -->
                    <div id="form-views" ui-view></div>
                </form>

            </div>
        </div>

    </div>

                        <!--<label class="control-label">Story</label>-->
                        <!--<div class="controls">-->
                            <!--<textarea ckeditor="editorOptions" data-ng-model="story" id="story"></textarea>-->
                        <!--</div>-->

                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-lg btn-main grow">
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>