<section>


    <div class="row">


        <div class="form-group">
            <input type="text" data-ng-model="formData.firstname" id="firstname" class="form-control"
                   placeholder="First Name" required>
        </div>

        <div class="form-group">
            <input type="text" data-ng-model="formData.lastname" id="lastname" class="form-control"
                   placeholder="Last Name" required>
        </div>

        <div class="form-group">
            <input type="email" data-ng-model="formData.email" id="email" class="form-control"
                   placeholder="E-mail" required>
        </div>


    </div>

    <div class="row">
        <div class="col-sm-offset-8">
            <a ui-sref="createProject.2" class="btn btn-block btn-info">
                Next  <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
        </div>
    </div>
</section>