<div class="row" data-ng-show="toggleEdit === true  && toggleId ===14">
    <div class="col-xs-8 col-xs-offset-1">
        <span class="input input-secondary" data-ng-class="{'input-filled': project.vimeoId !== ''}">
            <input class="input_field input_field-secondary" type="text" id="vimeoId" data-ng-model="project.vimeoId"/>
            <label class="input_label input_label-secondary" for="vimeoId">
                <span class="input_label-content input_label-content-secondary">Vimeo ID</span>
            </label>
            <span class="pull-right">
                <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
            </span>
            <span class="pull-right">
                <button type="submit" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>
            </span>
        </span>
    </div>
</div>
<div class="row" data-ng-hide="toggleEdit === true  && toggleId ===14">
    <div class="col-xs-2">Vimeo ID</div>
    <div class="col-xs-9" data-ng-bind="project.vimeoId"></div>
    <div class="col-xs-1" data-ng-click="toggleEditFn(14)"><i class="fa fa-pencil"></i></div>
</div>


<div class="row" data-ng-show="toggleEdit === true  && toggleId ===15">
    <div class="col-xs-8 col-xs-offset-1">
        <span class="input input-secondary" data-ng-class="{'input-filled': project.soundCloudId !== ''}">
            <input class="input_field input_field-secondary" type="text" id="soundCloudId" data-ng-model="project.soundCloudId"/>
            <label class="input_label input_label-secondary" for="soundCloudId">
                <span class="input_label-content input_label-content-secondary">Sound Cloud ID</span>
            </label>
            <span class="pull-right">
                <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
            </span>
            <span class="pull-right">
                <button type="submit" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>
            </span>
        </span>
    </div>
</div>
<div class="row" data-ng-hide="toggleEdit === true  && toggleId === 15">
    <div class="col-xs-2">Sound Cloud ID</div>
    <div class="col-xs-9" data-ng-bind="project.soundCloudId"></div>
    <div class="col-xs-1" data-ng-click="toggleEditFn(15)"><i class="fa fa-pencil"></i></div>
</div>

<div class="row" data-ng-show="toggleEdit === true  && toggleId === 16">
    <div class="col-xs-8 col-xs-offset-1">
        <span class="input input-secondary" data-ng-class="{'input-filled': project.imageGallery !== ''}">
            <input class="input_field input_field-secondary" type="text" id="imageGallery" data-ng-model="project.imageGallery"/>
            <label class="input_label input_label-secondary" for="imageGallery">
                <span class="input_label-content input_label-content-secondary">Images</span>
            </label>
            <span class="pull-right">
                <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
            </span>
            <span class="pull-right">
                <button type="submit" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>
            </span>
        </span>
    </div>
</div>
<div class="row" data-ng-hide="toggleEdit === true  && toggleId ===16">
    <div class="col-xs-2">Images</div>
    <div class="col-xs-9" data-ng-bind="project.imageGallery"></div>
    <div class="col-xs-1" data-ng-click="toggleEditFn(16)"><i class="fa fa-pencil"></i></div>
</div>


<div class="row" data-ng-show="toggleEdit === true  && toggleId === 17">
    <div class="col-xs-8 col-xs-offset-1">
        <span class="input input-secondary" data-ng-class="{'input-filled': project.status !== ''}">
            <input class="input_field input_field-secondary" type="text" id="status" data-ng-model="project.status"/>
            <label class="input_label input_label-secondary" for="status">
                <span class="input_label-content input_label-content-secondary">Submission Status</span>
            </label>
            <span class="pull-right">
                <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
            </span>
            <span class="pull-right">
                <button type="submit" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>
            </span>
        </span>
    </div>
</div>
<div class="row" data-ng-hide="toggleEdit === true  && toggleId ===17">
    <div class="col-xs-2">Submission Status</div>
    <div class="col-xs-9" data-ng-bind="project.username"></div>
    <div class="col-xs-1" data-ng-click="toggleEditFn(17)"><i class="fa fa-pencil"></i></div>
</div>


<div class="row" data-ng-show="toggleEdit === true  && toggleId === 18">
    <div class="col-xs-8 col-xs-offset-1">
        <span class="input input-secondary" data-ng-class="{'input-filled': project.storySummary !== ''}">
            <input class="input_field input_field-secondary" type="text" id="storySummary" data-ng-model="project.storySummary"/>
            <label class="input_label input_label-secondary" for="storySummary">
                <span class="input_label-content input_label-content-secondary">Story Summary</span>
            </label>
            <span class="pull-right">
                <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
            </span>
            <span class="pull-right">
                <button type="submit" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>
            </span>
        </span>
    </div>
</div>
<div class="row" data-ng-hide="toggleEdit === true  && toggleId === 18">
    <div class="col-xs-2">Story Summary</div>
    <div class="col-xs-9" data-ng-bind="project.storySummary"></div>
    <div class="col-xs-1" data-ng-click="toggleEditFn(18)"><i class="fa fa-pencil"></i></div>
</div>


<div class="row" data-ng-show="toggleEdit === true  && toggleId === 19">
    <div class="col-xs-8 col-xs-offset-1">
        <span class="input input-secondary" data-ng-class="{'input-filled': project.userStreet !== ''}">
            <input class="input_field input_field-secondary" type="text" id="street" data-ng-model="project.userStreet"/>
            <label class="input_label input_label-secondary" for="street">
                <span class="input_label-content input_label-content-secondary">Street</span>
            </label>
            <span class="pull-right">
                <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
            </span>
            <span class="pull-right">
                <button type="submit" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>
            </span>
        </span>
    </div>
</div>
<div class="row" data-ng-hide="toggleEdit === true  && toggleId === 19">
    <div class="col-xs-2">Street</div>
    <div class="col-xs-9" data-ng-bind="project.userStreet"></div>
    <div class="col-xs-1" data-ng-click="toggleEditFn(19)"><i class="fa fa-pencil"></i></div>
</div>