<div class="row no-border" data-ng-show="toggleEdit === true && toggleId === 1">
    <div class="col-xs-8 col-xs-offset-1">
        <span class="input input-secondary" data-ng-class="{'input-filled': user.namePrefix !== ''}">
            <input class="input_field input_field-secondary" type="text" id="namePrefix" data-ng-model="user.namePrefix"/>
            <label class="input_label input_label-secondary" for="namePrefix">
                <span class="input_label-content input_label-content-secondary">Prefix</span>
            </label>
             <!--<span class="pull-right">-->
                <!--<button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>-->
            <!--</span>-->
            <!--<span class="pull-right">-->
                <!--<button data-ng-submit="updateUserProfile()" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>-->
            <!--</span>-->
        </span>
    </div>
    <div class="col-xs-3">
        <span class="pull-right">
            <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
        </span>
        <span class="pull-right">
            <button data-ng-submit="updateUserProfile()" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>
        </span>
    </div>
</div>
<div class="row" data-ng-hide="toggleEdit === true  && toggleId === 1">
    <div class="col-xs-2">Prefix</div>
    <div class="col-xs-9" data-ng-bind="user.namePrefix"></div>
    <div class="col-xs-1" data-ng-click="toggleEditFn(1)"><i class="fa fa-pencil"></i></div>
</div>


<div class="row" data-ng-show="toggleEdit === true  && toggleId === 2">
    <div class="col-xs-8 col-xs-offset-1">
        <span class="input input-secondary" data-ng-class="{'input-filled': user.firstName !== ''}">
            <input class="input_field input_field-secondary" type="text" id="firstName" data-ng-model="user.firstName"/>
            <label class="input_label input_label-secondary" for="firstName">
                <span class="input_label-content input_label-content-secondary">First Name</span>
            </label>
            <!--<span class="pull-right">-->
                <!--<button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>-->
            <!--</span>-->
            <!--<span class="pull-right">-->
                <!--<button data-ng-submit="updateUserProfile()" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>-->
            <!--</span>-->
        </span>
    </div>
    <div class="col-xs-2 col-xs-offset-1">
        <span class="pull-right">
                <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
            </span>
            <span class="pull-right">
                <button data-ng-submit="updateUserProfile()" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>
            </span>
    </div>
</div>
<div class="row" data-ng-hide="toggleEdit === true  && toggleId === 2">
    <div class="col-xs-2">First Name</div>
    <div class="col-xs-9" data-ng-bind="user.firstName"></div>
    <div class="col-xs-1" data-ng-click="toggleEditFn(2)"><i class="fa fa-pencil"></i></div>
</div>


<div class="row" data-ng-show="toggleEdit === true  && toggleId === 3">
    <div class="col-xs-8 col-xs-offset-1">
        <span class="input input-secondary" data-ng-class="{'input-filled': user.lastName !== ''}">
            <input class="input_field input_field-secondary" type="text" id="lastName" data-ng-model="user.lastName"/>
            <label class="input_label input_label-secondary" for="lastName">
                <span class="input_label-content input_label-content-secondary">Last Name</span>
            </label>
            <span class="pull-right">
                <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
            </span>
            <span class="pull-right">
                <button data-ng-submit="updateUserProfile()" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>
            </span>
        </span>
    </div>
</div>
<div class="row" data-ng-hide="toggleEdit === true  && toggleId === 3">
    <div class="col-xs-2">Last Name</div>
    <div class="col-xs-9" data-ng-bind="user.lastName"></div>
    <div class="col-xs-1" data-ng-click="toggleEditFn(3)"><i class="fa fa-pencil"></i></div>
</div>


<div class="row" data-ng-show="toggleEdit === true  && toggleId === 4">
    <div class="col-xs-8 col-xs-offset-1">
        <span class="input input-secondary" data-ng-class="{'input-filled': user.userTitle !== ''}">
            <input class="input_field input_field-secondary" type="text" id="userTitle" data-ng-model="user.userTitle"/>
            <label class="input_label input_label-secondary" for="userTitle">
                <span class="input_label-content input_label-content-secondary">Title</span>
            </label>
            <span class="pull-right">
                <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
            </span>
            <span class="pull-right">
                <button data-ng-submit="updateUserProfile()" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>
            </span>
        </span>
    </div>
</div>
<div class="row" data-ng-hide="toggleEdit === true  && toggleId === 4">
    <div class="col-xs-2">Title</div>
    <div class="col-xs-9" data-ng-bind="user.userTitle"></div>
    <div class="col-xs-1" data-ng-click="toggleEditFn(4)"><i class="fa fa-pencil"></i></div>
</div>


<div class="row" data-ng-show="toggleEdit === true  && toggleId ===5">
    <div class="col-xs-8 col-xs-offset-1">
        <span class="input input-secondary" data-ng-class="{'input-filled': user.email !== ''}">
            <input class="input_field input_field-secondary" type="email" id="email" data-ng-model="user.email"/>
            <label class="input_label input_label-secondary" for="email">
                <span class="input_label-content input_label-content-secondary">E-mail</span>
            </label>
            <span class="pull-right">
                <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
            </span>
            <span class="pull-right">
                <button data-ng-submit="updateUserProfile()" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>
            </span>
        </span>
    </div>
</div>
<div class="row" data-ng-hide="toggleEdit === true  && toggleId ===5">
    <div class="col-xs-2">E-mail</div>
    <div class="col-xs-9" data-ng-bind="user.email"></div>
    <div class="col-xs-1" data-ng-click="toggleEditFn(5)"><i class="fa fa-pencil"></i></div>
</div>


<div class="row" data-ng-show="toggleEdit === true  && toggleId ===6">
    <div class="col-xs-8 col-xs-offset-1">
        <span class="input input-secondary" data-ng-class="{'input-filled': user.username !== ''}">
            <input class="input_field input_field-secondary" type="text" id="username" data-ng-model="user.username"/>
            <label class="input_label input_label-secondary" for="username">
                <span class="input_label-content input_label-content-secondary">Username</span>
            </label>
            <span class="pull-right">
                <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
            </span>
            <span class="pull-right">
                <button data-ng-submit="updateUserProfile()" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>
            </span>
        </span>
    </div>
</div>
<div class="row" data-ng-hide="toggleEdit === true  && toggleId ===6">
    <div class="col-xs-2">Username</div>
    <div class="col-xs-9" data-ng-bind="user.username"></div>
    <div class="col-xs-1" data-ng-click="toggleEditFn(6)"><i class="fa fa-pencil"></i></div>
</div>


<div class="row" data-ng-show="toggleEdit === true  && toggleId ===7">
    <div class="col-xs-8 col-xs-offset-1">
        <span class="input input-secondary" data-ng-class="{'input-filled': user.roles !== ''}">
            <input class="input_field input_field-secondary" type="text" id="roles" data-ng-model="user.roles"/>
            <label class="input_label input_label-secondary" for="roles">
                <span class="input_label-content input_label-content-secondary">Role</span>
            </label>
            <span class="pull-right">
                <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
            </span>
            <span class="pull-right">
                <button data-ng-submit="updateUserProfile()" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>
            </span>
        </span>
    </div>
</div>
<div class="row" data-ng-hide="toggleEdit === true  && toggleId ===7">
    <div class="col-xs-2">Role</div>
    <div class="col-xs-9" data-ng-bind="user.roles"></div>
    <div class="col-xs-1" data-ng-click="toggleEditFn(7)"><i class="fa fa-pencil"></i></div>
</div>


<div class="row" data-ng-show="toggleEdit === true  && toggleId ===8">
    <div class="col-xs-8 col-xs-offset-1">
        <span class="input input-secondary" data-ng-class="{'input-filled': user.userStreet !== ''}">
            <input class="input_field input_field-secondary" type="text" id="userStreet" data-ng-model="user.userStreet"/>
            <label class="input_label input_label-secondary" for="userStreet">
                <span class="input_label-content input_label-content-secondary">Street</span>
            </label>
            <span class="pull-right">
                <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
            </span>
            <span class="pull-right">
                <button data-ng-submit="updateUserProfile()" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>
            </span>
        </span>
    </div>
</div>
<div class="row" data-ng-hide="toggleEdit === true  && toggleId ===8">
    <div class="col-xs-2">Street</div>
    <div class="col-xs-9" data-ng-bind="user.userStreet"></div>
    <div class="col-xs-1" data-ng-click="toggleEditFn(8)"><i class="fa fa-pencil"></i></div>
</div>


<div class="row" data-ng-show="toggleEdit === true  && toggleId ===9">
    <div class="col-xs-8 col-xs-offset-1">
        <span class="input input-secondary" data-ng-class="{'input-filled': user.userCity !== ''}">
            <input class="input_field input_field-secondary" type="text" id="userCity" data-ng-model="user.userCity"/>
            <label class="input_label input_label-secondary" for="userCity">
                <span class="input_label-content input_label-content-secondary">City</span>
            </label>
            <span class="pull-right">
                <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
            </span>
            <span class="pull-right">
                <button data-ng-submit="updateUserProfile()" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>
            </span>
        </span>
    </div>
</div>
<div class="row" data-ng-hide="toggleEdit === true  && toggleId ===9">
    <div class="col-xs-2">City</div>
    <div class="col-xs-9" data-ng-bind="user.userCity"></div>
    <div class="col-xs-1" data-ng-click="toggleEditFn(9)"><i class="fa fa-pencil"></i></div>
</div>


<div class="row" data-ng-show="toggleEdit === true  && toggleId ===10">
    <div class="col-xs-8 col-xs-offset-1">
        <span class="input input-secondary" data-ng-class="{'input-filled': user.userState !== ''}">
            <input class="input_field input_field-secondary" type="text" id="userState" data-ng-model="user.userState"/>
            <label class="input_label input_label-secondary" for="userState">
                <span class="input_label-content input_label-content-secondary">State</span>
            </label>
            <span class="pull-right">
                <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
            </span>
            <span class="pull-right">
                <button data-ng-submit="updateUserProfile()" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>
            </span>
        </span>
    </div>
</div>
<div class="row" data-ng-hide="toggleEdit === true  && toggleId ===10">
    <div class="col-xs-2">State</div>
    <div class="col-xs-9" data-ng-bind="user.userState"></div>
    <div class="col-xs-1" data-ng-click="toggleEditFn(10)"><i class="fa fa-pencil"></i></div>
</div>


<div class="row" data-ng-show="toggleEdit === true  && toggleId ===11">
    <div class="col-xs-8 col-xs-offset-1">
        <span class="input input-secondary" data-ng-class="{'input-filled': user.userZip !== ''}">
            <input class="input_field input_field-secondary" type="zip" id="userZip" data-ng-model="user.userZip"/>
            <label class="input_label input_label-secondary" for="userZip">
                <span class="input_label-content input_label-content-secondary">Zip Code</span>
            </label>
            <span class="pull-right">
                <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
            </span>
            <span class="pull-right">
                <button data-ng-submit="updateUserProfile()" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>
            </span>
        </span>
    </div>
</div>
<div class="row" data-ng-hide="toggleEdit === true  && toggleId ===11">
    <div class="col-xs-2">Zip</div>
    <div class="col-xs-9" data-ng-bind="user.userZip"></div>
    <div class="col-xs-1" data-ng-click="toggleEditFn(11)"><i class="fa fa-pencil"></i></div>
</div>


<div class="row" data-ng-show="toggleEdit === true  && toggleId ===12">
    <div class="col-xs-8 col-xs-offset-1">
        <div id="check-awesome" class="form-group filter first-filter">
            <input type="checkbox" name="filters" id="newsletter" value="newsletter" data-ng-model="user.newsletter">
            <label for="newsletter">
                <span class="check"></span>
                <span class="box"></span>
                Newsletter
            </label>
            <!--<span class="pull-right">-->
            <!--<button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>-->
            <!--</span>-->
            <!--<span class="pull-right">-->
            <!--<button data-ng-submit="updateUserProfile()" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>-->
            <!--</span>-->
            </span>
        </div>
        <div class="col-xs-2 col-xs-offset-1">
        <span class="pull-right">
            <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
        </span>
        <span class="pull-right">
            <button data-ng-submit="updateUserProfile()" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>
        </span>
        </div>
    </div>
</div>
<div class="row" data-ng-hide="toggleEdit === true  && toggleId ===12">
    <div class="col-xs-2">Newsletter</div>
    <div class="col-xs-9" data-ng-bind="user.newsletter"></div>
    <div class="col-xs-1" data-ng-click="toggleEditFn(12)"><i class="fa fa-pencil"></i></div>
</div>

<div class="row" data-ng-show="toggleEdit === true  && toggleId ===13">
    <div class="col-xs-8 col-xs-offset-1">
        <span class="input input-secondary" data-ng-class="{'input-filled': user.bio !== ''}">
            <input class="input_field input_field-secondary" type="bio" id="bio" data-ng-model="user.bio"/>
            <label class="input_label input_label-secondary" for="bio">
                <span class="input_label-content input_label-content-secondary">Contributor's Bio</span>
            </label>
            <span class="pull-right">
                <button data-ng-click="toggleEditFn(0)" class="btn btn-main grow btn-warning">Cancel</button>
            </span>
            <span class="pull-right">
                <button data-ng-submit="updateUserProfile()" data-ng-click="toggleEditFn(0)" class="btn btn-main grow">Save</button>
            </span>
        </span>
    </div>
</div>
<div class="row" data-ng-hide="toggleEdit === true  && toggleId ===13">
    <div class="col-xs-2">Contributor's Bio</div>
    <div class="col-xs-9" data-ng-bind="user.bio"></div>
    <div class="col-xs-1" data-ng-click="toggleEditFn(13)"><i class="fa fa-pencil"></i></div>
</div>
