/***
**
**  FOOTER OVERLAY ANIMATION BEGIN
**
***/

@-webkit-keyframes animate-footer-overlay {
    0% {
        transform: scale(1, 1);
    }
    49% {
        transform: scale(0.98, 0.05) translate(0, -2000%);
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        transform: scale(0.75, 0.03) translate(0, -4000%);
    }

    97% {
        transform: scale(0.5, 0.02) translate(0, -6000%);

    }
    98% {
        transform: scale(0.45, 0.01);
    }
    100% {
        opacity: 0;
        transform: scale(0.45, 0);
    }
}


@-o-keyframes animate-footer-overlay {
    0% {
        transform: scale(1, 1);
    }
    49% {
        transform: scale(0.98, 0.05) translate(0, -2000%);
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        transform: scale(0.75, 0.03) translate(0, -4000%);
    }

    97% {
        transform: scale(0.5, 0.02) translate(0, -6000%);

    }
    98% {
        transform: scale(0.45, 0.01);
    }
    100% {
        opacity: 0;
        transform: scale(0.45, 0);
    }
}

@keyframes animate-footer-overlay {
0% {
    transform: scale(1, 1);
}
49% {
    transform: scale(0.98, 0.05) translate(0, -2000%);
    opacity: 1;
}
50% {
    opacity: 0;
}
75% {
    transform: scale(0.75, 0.03) translate(0, -4000%);
}

97% {
    transform: scale(0.5, 0.02) translate(0, -6000%);

}
98% {
    transform: scale(0.45, 0.01);
}
100% {
    opacity: 0;
    transform: scale(0.45, 0);
}
}

.footer-overlay {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    border: 3px solid #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    margin: 35px auto;
    overflow: visible !important; /* Has to be !important only if you're using an on/off switch */
    position: relative;
    width:90%;
    /*height: 8rem;*/
    height: 100%;
    z-index: 2;
    transition: all 1s ease-out;
}

.footer-overlay-active {
    /*creates animation (vs. transformation)*/
    -webkit-animation: animate-footer-overlay 0.5s ease-out forwards;
    /*-moz-animation: animate-footer-overlay 0.5s ease forwards;*/
    -o-animation: animate-footer-overlay 0.5s ease forwards;
    animation: animate-footer-overlay 0.5s ease forwards;
}


/***
**
**  MAIN OVERLAY ANIMATION BEGIN
**
***/

/*@-webkit-keyframes animate-main-overlay {*/
    /*0% {*/
        /*transform: scale(1, 1);*/
    /*}*/
    /*99% {*/
        /*transform: scale(0.035, 0.055) translate(-1420%, -900%);*/
    /*}*/
    /*100% {*/
        /*transform: scale(0, 0);*/
    /*}*/
/*}*/
/*@-o-keyframes animate-main-overlay {*/
    /*0% {*/
        /*transform: scale(1, 1);*/
    /*}*/
    /*99% {*/
        /*transform: scale(0.035, 0.055) translate(-1420%, -900%);*/
    /*}*/
    /*100% {*/
        /*transform: scale(0, 0);*/
    /*}*/
/*}*/
@keyframes animate-main-overlay {
    0% {
        transform: scale(1, 1);

    }
    99% {
        transform: scale(0.035, 0.055) translate(-1420%, -900%);
    }
    100% {
        transform: scale(0, 0);
    }
}

.main-overlay {
    width: 90%;
    /*height: 60rem;*/
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    border: 3px solid #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    margin: 5% auto;
    overflow: visible;
    padding: 20px;
    position: relative;
    z-index: 2;
    transition: all 1s ease-out;
}

.main-overlay-hidden {
    visibility: hidden;
}

.main-overlay-active {
    /*creates animation (vs. transformation)*/
    -webkit-animation: animate-main-overlay 1s ease forwards;
    -webkit-animation-delay: 0.15s;
    /*-moz-animation: animate-main-overlay 1s ease forwards;*/
    /*-moz-animation-delay: 0.15s;*/
    -o-animation: animate-main-overlay 1s ease forwards;
    -o-animation-delay: 0.15s;
    animation: animate-main-overlay 1s ease forwards;
    animation-delay: 0.15s;
}


/***
**
**  ANIMATION THAT TRANSITIONS FROM MAIN AND FOOTER OVERLAYS INTO SMALL LOGO BEGIN
**
***/

@-webkit-keyframes animate-logo {
    0% {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-image: url(../img/circle_button.png);
    }
    /*give the cirle an image without the "X" so that the "X" won't be seen morphing*/
    1% {
        background-image: url(../img/circle_button_blank.png);
    }
    100% {
        transform: translate(-200%, 20%);
        border-radius: 2%;
        width: 150px;
        height: 47px;
        background-image: url(../img/brand/mapping_150w.png);
    }
}


@-o-keyframes animate-logo {
    0% {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-image: url(../img/circle_button.png);
    }
    /*give the cirle an image without the "X" so that the "X" won't be seen morphing*/
    1% {
        background-image: url(../img/circle_button_blank.png);
    }
    100% {
        transform: translate(-200%, -28%);
        border-radius: 2%;
        width: 150px;
        height: 47px;
        background-image: url(../img/brand/mapping_150w.png);
    }
}

@keyframes animate-logo {
    0% {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-image: url(../img/circle_button.png);
    }
    /*give the cirle an image without the "X" so that the "X" won't be seen morphing*/
    1% {
        background-image: url(../img/circle_button_blank.png);
    }
    100% {
        transform: translate(-200%, -1350%);
        border-radius: 2%;
        width: 150px;
        height: 47px;
        background-image: url(../img/brand/mapping_150w.png);
    }
}

@-webkit-keyframes spin-logo {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
        -moz-transform: rotate(0deg) scale(1);
        -ms-transform: rotate(0deg) scale(1);
        -o-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
    }
    100% {
        -webkit-transform: rotate(180deg) scale(1);
        -moz-transform: rotate(180deg) scale(1);
        -ms-transform: rotate(180deg) scale(1);
        -o-transform: rotate(180deg) scale(1);
        transform: rotate(180deg) scale(1);
    }
}

@keyframes spin-logo {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
        -moz-transform: rotate(0deg) scale(1);
        -ms-transform: rotate(0deg) scale(1);
        -o-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: rotate(180deg) scale(1);
        -moz-transform: rotate(180deg) scale(1);
        -ms-transform: rotate(180deg) scale(1);
        -o-transform: rotate(180deg) scale(1);
        transform: rotate(180deg) scale(1);
    }
}

.animate-small-logo {
    /*z-index: 3;*/
    background: #023a31;
    border: 3px solid #fff;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 5.5rem;
    position: absolute;
    text-align: center;
    top: -4%;
    left: -2.2%;
    height: 50px;
    width: 50px;
    /*background-image: url(../img/circle_button.png);*/
}

.animate-small-logo:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-animation: spin-logo 1s ease forwards;
    -o-animation: spin-logo 1s ease forwards;
    animation: spin-logo 1s ease forwards;
}

span.animate-small-logo div {
    margin-top: -1.75rem;
    position: relative;
}

span.animate-small-logo div:hover {
}

.animate-small-logo-active {
    -webkit-animation: animate-logo 2s ease-out forwards;
    -webkit-animation-delay: 1.16s;
    -o-animation: animate-logo 2s ease forwards;
    -o-animation-delay: 1.16s;
    animation: animate-logo 2s ease-out forwards;
    animation-delay: 1.16s;
}


