@media (max-width: 972px) {
    .featured {

    }

    .animate-small-logo {
        top: -2%;
        left: -3%
    }

    .main-overlay {
        overflow: visible;
    }

    .footer-overlay form {
        margin: 0.5% 0;
    }
    .small-main-logo{
        left: 8%;
    }

    .footer-overlay {
        padding: 2%;

    }

    .footer-overlay .body {
        padding-top: 0;
        margin-left: 0;
    }

    /*applies to all pages that have a static map as background image, so most views other than home page*/
    .main-content-outer {
        /*height: auto;*/
        width: 95%;
        margin: 0;
        padding: 1%;
        border-radius: 10px;
        border: solid 2px #090909;
    }
    /*applies to all pages that have a static map as background image, so most views other than home page*/
    .main-content-inner {
        /*height: auto;*/
        /*width: 75%;*/
        background-color: rgba(255, 248, 231, 0.9);
        margin: 0;
        padding: 1%;
        border-radius: 10px;
    }

    .page-header {
        margin: 12% 0 0 5%;
    }

    .menu-icon {
        top: 3.5%;
        left: 6%;
        transform: scale(1.2);
    }

    .logo-second-page {
        top: 5%;
        left: 25%;
        transform: scale(2);
    }

}


@media (max-height: 810px) {
    .sidebar {
        height: 85%;
    }
    .menu-text {
        display: none;
    }

}

@media (max-height: 540px) {
    .sidebar {
        height: 75%;
    }
}

@media (max-height: 1079px) {
    .core .main-text p {
        font-size: 1.2em;
    }

    .core p {
        font-size: 1em;
    }

    .core .page-header {
        margin: 20px 0 10px 0;
    }

    .pull-right.col-equal {
        position: relative;
        right: 7%;
    }

    featured-projects img {
        height:10vh;
    }

    featured-projects ul, featured-projects .grid figure {
        padding: 0;
    }

    .sidebar-content.active {
        overflow-y: auto;
    }

    .col-equal {
        margin-top: 0;
    }

    .footer-directive .body .div .div .div {
        padding: 40px;
    }
}
